Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": [
    "eslint --fix --cache --cache-location .next/cache/eslint/",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

test(orchestration): cover forced knowledge retrieval in chat handler
  tests/unit/lib/orchestration/chat/streaming-handler.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(database): update seeding.md for recursive discovery + relative-path keys
  .context/database/seeding.md
Due: prettier --write

docs(privacy): repoint User-extension ref off private path to CUSTOMIZATION
  .context/privacy/data-erasure.md
Due: prettier --write

docs(config): document seams 5, 11, 13 extension points
  .context/architecture/lint-toolchain.md
  .context/environment/overview.md
  .context/environment/reference.md
  .context/security/rate-limiting.md
  .env.example
  CUSTOMIZATION.md
Due: prettier --write

feat(app): single auto-wired lib/app/ bootstrap surface for fork extensions
  .context/architecture/lint-toolchain.md
  .context/orchestration/capabilities.md
  .context/security/rate-limiting.md
  CUSTOMIZATION.md
  components/admin/admin-sidebar.tsx
  lib/app/admin-nav.ts
  lib/app/capabilities.ts
  lib/app/rate-limit.ts
  lib/orchestration/capabilities/registry.ts
  lib/security/rate-limit-middleware.ts
  tests/unit/lib/app/admin-nav-wiring.test.tsx
  tests/unit/lib/app/bootstrap-wiring.test.ts
  tests/unit/lib/app/defaults.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): capabilities-list quarantine badge + header chip (item #42 phase 7)
  components/admin/orchestration/capabilities-table.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): clickable affected-agents popover on QuarantinedView
  components/admin/orchestration/capability-quarantine-card.tsx
  tests/unit/components/admin/orchestration/capability-quarantine-card.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): dispatcher quarantine guard (item #42 phase 2)
  lib/orchestration/capabilities/dispatcher.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): POST quarantine + unquarantine routes (item #42 phase 4)
  app/api/v1/admin/orchestration/capabilities/[id]/quarantine/route.ts
  app/api/v1/admin/orchestration/capabilities/[id]/unquarantine/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): add capability quarantine state schema (item #42 phase 1)
  lib/orchestration/capabilities/dispatcher.ts
  lib/orchestration/capabilities/types.ts
  lib/validations/orchestration.ts
  prisma/migrations/20260527214250_add_capability_quarantine/migration.sql
  prisma/schema/orchestration-agents.prisma
  tests/unit/lib/orchestration/engine/executors/tool-call.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): GET routes backing the quarantine admin surfaces
  app/api/v1/admin/orchestration/agents/[id]/quarantined-capabilities/route.ts
  app/api/v1/admin/orchestration/capabilities/[id]/quarantine-attribution/route.ts
  app/api/v1/admin/orchestration/observability/active-quarantines/route.ts
  tests/unit/app/api/v1/admin/orchestration/capabilities/quarantine-reads.route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(orchestration): omit reason from hard-mode quarantine metadata
  lib/orchestration/capabilities/dispatcher.ts
  tests/unit/lib/orchestration/capabilities/dispatcher.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor(orchestration): widen resolveQuarantineState to accept string + drop as casts
  app/admin/orchestration/capabilities/[id]/page.tsx
  app/api/v1/admin/orchestration/agents/[id]/quarantined-capabilities/route.ts
  app/api/v1/admin/orchestration/observability/active-quarantines/route.ts
  lib/orchestration/capabilities/dispatcher.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(orchestration): unblock CI — add deletedAt to agent test mocks + harden quarantine fetch helpers
  app/admin/orchestration/agents/[id]/page.tsx
  app/admin/orchestration/page.tsx
  tests/unit/app/api/v1/admin/orchestration/agents/agent-system-protection.route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(config): tier-3 code-review fixes — drift, performance, integrity
  eslint.config.mjs
  lib/orchestration/capabilities/registry.ts
  lib/security/rate-limit-middleware.ts
  lib/security/rate-limit-policy.ts
  tests/unit/eslint-app-boundary.test.ts
  tests/unit/lib/app/bootstrap-wiring.test.ts
  tests/unit/lib/security/rate-limit-extension.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(agents): profile column + filter + group toggle + last-active column
  components/admin/orchestration/agents-table.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(agents): list-route filter/orderBy + touch-last-active
  tests/unit/app/api/v1/admin/orchestration/agents/list-route.test.ts
  tests/unit/lib/orchestration/agents/touch-last-active.test.ts
  tests/unit/lib/orchestration/chat/streaming-handler.test.ts
  tests/unit/lib/orchestration/inbound/conversation-resolver.test.ts
  tests/unit/lib/orchestration/llm/cost-tracker.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(versioning): Phase 1 — versioning infrastructure (no tag)
  .context/monitoring/health-checks.md
  CHANGELOG.md
  CONTRIBUTING.md
  CUSTOMIZATION.md
  VERSIONING.md
  app/api/health/route.ts
  lib/monitoring/types.ts
  lib/sunrise-version.ts
  package-lock.json
  package.json
  tests/integration/api/health.test.ts
  tests/unit/lib/sunrise-version.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(knowledge): pagination, search, and status filter on the documents tab
  components/admin/orchestration/knowledge/knowledge-view.tsx
  components/admin/orchestration/knowledge/manage-tab.tsx
  tests/unit/components/admin/orchestration/knowledge/knowledge-view.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: close coverage gaps and add tests for new code
  tests/unit/app/api/v1/admin/orchestration/knowledge/documents/agents-route.test.ts
  tests/unit/components/admin/orchestration/agents-table.test.tsx
  tests/unit/components/admin/orchestration/knowledge/document-agents-modal.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/lib/orchestration/agents/touch-last-active.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor(tests): apply /code-review findings on use-health-check
  tests/unit/components/status/use-health-check.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(eval-foundations): Phase 3 coverage sweep — foundations components
  tests/unit/components/admin/orchestration/evaluations-foundations/dataset-anatomy-card.test.tsx
  tests/unit/components/admin/orchestration/evaluations-foundations/dataset-new-tabs.test.tsx
  tests/unit/components/admin/orchestration/evaluations-foundations/generate-cases-button.test.tsx
  tests/unit/components/admin/orchestration/evaluations-foundations/generate-from-description-form.test.tsx
  tests/unit/components/admin/orchestration/evaluations-foundations/save-to-dataset-button.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(squash): repoint stale drift-warning citations + flag db:seed required
  docker-compose.prod.yml
  docker-compose.yml
  prisma/schema/orchestration-conversations.prisma
  prisma/schema/orchestration-knowledge.prisma
Due: prettier --write

docs(squash): repoint migration citations to baseline + update seeding doc
  .context/database/migrations.md
  .context/database/seeding.md
  .context/orchestration/engine.md
  .context/orchestration/evaluation-metrics.md
  .context/orchestration/evaluations.md
  .context/orchestration/meta/architectural-decisions.md
  .context/orchestration/meta/hosting-requirements.md
  .context/orchestration/meta/improvement-priorities.md
  .context/orchestration/recipes/long-running-workflow.md
  .context/orchestration/tracing.md
  .context/orchestration/workflow-versioning.md
Due: prettier --write

refactor: replace hardcoded 'kb_default' literals with the exported constant
  scripts/smoke/knowledge-hybrid-search.ts
  scripts/test-knowledge-base.ts
  tests/unit/components/admin/orchestration/knowledge/knowledge-view.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/lib/orchestration/knowledge/document-manager.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor(knowledge): self-heal default knowledge base on runtime upload paths
  lib/orchestration/knowledge/document-manager.ts
  tests/unit/lib/orchestration/knowledge/document-manager.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore(db): fold three schema-hardening folds into the baseline (A7, A8, tighten A6)
  prisma/migrations/00000000000000_baseline/migration.sql
  prisma/schema/orchestration-knowledge.prisma
  prisma/schema/orchestration-workflows.prisma
Due: none

feat(db): add drift-check script for Prisma-unmodelled objects
  package.json
  scripts/db/check-drift.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(db): inventory Prisma-unmodelled objects + Prisma 7 baseline bugs
  .context/database/migrations.md
  .context/database/prisma-7-baseline-bugs.md
  .context/database/prisma-unmodelled-objects.md
  prisma/schema/orchestration-ops.prisma
  prisma/schema/orchestration-providers.prisma
Due: prettier --write

docs: fix pre-PR findings on the new hardening docs
  .context/database/prisma-7-baseline-bugs.md
  .context/orchestration/knowledge.md
Due: prettier --write

test: apply 15 /test-review findings on the post-squash-hardening branch
  tests/unit/components/admin/orchestration/knowledge/knowledge-view.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/lib/orchestration/knowledge/document-manager.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(testing): add manage-tab debounce test as a second fake-timer exemplar
  .claude/skills/testing/gotchas.md
Due: prettier --write

chore: add CHANGELOG hygiene rule + bring [Unreleased] up to date
  .claude/commands/pre-pr.md
  CHANGELOG.md
  CLAUDE.md
Due: prettier --write

chore: add CHANGELOG hygiene rule + bring [Unreleased] up to date (#276)
  .claude/commands/pre-pr.md
  CHANGELOG.md
  CLAUDE.md
Due: prettier --write

fix(auth): close admin re-bootstrap escalation window (#278 security review)
  .context/auth/user-creation.md
  CHANGELOG.md
  app/api/v1/users/me/route.ts
  lib/auth/config.ts
  lib/auth/constants.ts
  prisma/migrations/20260531100706_add_auth_bootstrap/migration.sql
  prisma/schema/app.prisma
  tests/integration/api/v1/users/me/route.test.ts
  tests/unit/app/api/v1/users/me/route.test.ts
  tests/unit/lib/auth/config-database-hook.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(db): app-extensible drift-probe seam for Prisma-unmodelled objects (#284)
  .context/database/prisma-unmodelled-objects.md
  CHANGELOG.md
  CUSTOMIZATION.md
  VERSIONING.md
  lib/app/db-drift.ts
  lib/db/drift-probes.ts
  scripts/db/check-drift.ts
  tests/unit/lib/db/drift-probes.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore(pre-pr): register db-drift seam in CHANGELOG-hygiene seam list (#284)
  .claude/commands/pre-pr.md
Due: prettier --write

feat(db): app-extensible drift-probe seam for Prisma-unmodelled objects (#284) (#286)
  .claude/commands/pre-pr.md
  .context/database/prisma-unmodelled-objects.md
  CHANGELOG.md
  CUSTOMIZATION.md
  VERSIONING.md
  lib/app/db-drift.ts
  lib/db/drift-probes.ts
  scripts/db/check-drift.ts
  tests/unit/lib/db/drift-probes.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(deps): pin jsdom to 26 to fix knowledge HTML parser 500 on Vercel
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write
