Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(test-plan): add Delete classification to existing-test analysis
  .claude/commands/test-plan.md
Due: prettier --write

feat(test-triage): Path 0 annotation-first flow for integration files
  .claude/commands/test-triage.md
  .claude/testing/remediation-ledger.md
Due: prettier --write

feat(test-fix): integration support in from-rescan mode
  .claude/commands/test-fix.md
Due: prettier --write

feat(testing): integration test support across review/plan/write/fix
  .claude/agents/test-engineer.md
  .claude/commands/test-fix.md
  .claude/commands/test-plan.md
  .claude/commands/test-review.md
  .claude/commands/test-write.md
  .claude/docs/test-brittle-patterns.md
Due: prettier --write

test(contact): annotate structural sigs + sendEmail throw path
  .claude/testing/remediation-ledger.md
  tests/integration/api/v1/contact/route.test.ts
  tests/unit/app/api/v1/contact/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(users): expand [id] route coverage across unit + integration
  app/api/v1/users/[id]/route.ts
  tests/integration/api/v1/users/[id]/route.test.ts
  tests/unit/app/api/v1/users/[id]/route.delete.test.ts
  tests/unit/app/api/v1/users/[id]/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(test-plan,test-review): use Read for bracket paths + enumerate auth-guard branches
  .claude/commands/test-plan.md
  .claude/commands/test-review.md
Due: prettier --write

test(csp-report,mocks): harden MockLogger and rewrite csp-report on the new factory
  .claude/skills/testing/gotchas.md
  tests/types/mocks.ts
  tests/unit/app/api/csp-report/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(users,admin-stats): apply [id] findings, narrow MockSession, triage stats
  .claude/testing/remediation-ledger.md
  tests/helpers/auth.ts
  tests/integration/api/v1/users/[id]/route.test.ts
  tests/unit/app/api/v1/users/[id]/route.delete.test.ts
  tests/unit/app/api/v1/users/[id]/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(auth): extract sendVerificationEmail hook and add coverage
  lib/auth/config.ts
  tests/unit/lib/auth/config-sendVerificationEmail.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(testing): add missing triage subcommands and flags to overview
  .context/testing/overview.md
Due: prettier --write

fix(test-review): add quick start, structured finding keys, drop phantom --all flag
  .claude/commands/test-review.md
  .context/testing/overview.md
  CLAUDE.md
Due: prettier --write

test(review-fixes): apply test-review findings — brittleness, coverage, alignment
  tests/integration/api/v1/contact/route.test.ts
  tests/integration/api/v1/users/[id]/route.test.ts
  tests/unit/app/api/v1/users/[id]/route.test.ts
  tests/unit/components/analytics/user-identifier.test.tsx
  tests/unit/lib/auth/client.test.ts
  tests/unit/lib/auth/config-sendResetPassword.test.ts
  tests/unit/lib/auth/config-sendVerificationEmail.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(test-review): add V8 coverage data to Coverage Completeness agent
  .claude/commands/test-review.md
  .context/testing/overview.md
Due: prettier --write

feat(test-review): add alignment line-tracing and effort classification
  .claude/commands/test-review.md
Due: prettier --write

feat: add Phase 3 API endpoint improvements for orchestration
  .context/orchestration/admin-api.md
  app/api/v1/admin/orchestration/agents/[id]/clone/route.ts
  app/api/v1/admin/orchestration/costs/summary/route.ts
  app/api/v1/admin/orchestration/observability/dashboard-stats/route.ts
  app/api/v1/admin/orchestration/settings/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/dry-run/route.ts
  lib/api/etag.ts
  lib/orchestration/workflows/index.ts
  lib/orchestration/workflows/semantic-validator.ts
  lib/orchestration/workflows/template-scanner.ts
  lib/validations/orchestration.ts
  tests/integration/api/v1/admin/orchestration/workflows.id.validate.test.ts
  tests/unit/lib/api/etag.test.ts
  tests/unit/lib/orchestration/workflows/semantic-validator.test.ts
  tests/unit/lib/orchestration/workflows/template-scanner.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add isSystem protection for system agents and capabilities
  .context/admin/orchestration.md
  .context/orchestration/admin-api.md
  app/api/v1/admin/orchestration/agents/[id]/route.ts
  app/api/v1/admin/orchestration/capabilities/[id]/route.ts
  prisma/schema.prisma
  prisma/seeds/005-pattern-advisor.ts
  prisma/seeds/006-quiz-master.ts
  tests/unit/app/api/v1/admin/orchestration/agents/agent-system-protection.route.test.ts
  tests/unit/app/api/v1/admin/orchestration/capabilities/capability-system-protection.route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add Phase 2 orchestration core services improvements
  .context/orchestration/admin-api.md
  .context/orchestration/chat.md
  .context/orchestration/llm-providers.md
  .context/orchestration/resilience.md
  app/api/v1/admin/orchestration/capabilities/[id]/route.ts
  app/api/v1/admin/orchestration/capabilities/route.ts
  app/api/v1/admin/orchestration/providers/[id]/health/route.ts
  app/api/v1/admin/orchestration/providers/[id]/route.ts
  app/api/v1/admin/orchestration/providers/route.ts
  app/api/v1/admin/orchestration/settings/route.ts
  lib/orchestration/capabilities/dispatcher.ts
  lib/orchestration/capabilities/types.ts
  lib/orchestration/chat/message-builder.ts
  lib/orchestration/chat/streaming-handler.ts
  lib/orchestration/chat/summarizer.ts
  lib/orchestration/llm/circuit-breaker.ts
  lib/orchestration/llm/provider-manager.ts
  lib/orchestration/settings.ts
  lib/validations/orchestration.ts
  prisma/migrations/20260416211349_phase2_orchestration_improvements/migration.sql
  prisma/schema.prisma
  tests/integration/api/v1/admin/orchestration/providers.id.health.test.ts
  tests/integration/api/v1/admin/orchestration/providers.id.test.ts
  tests/integration/api/v1/admin/orchestration/providers.test.ts
  tests/integration/api/v1/admin/orchestration/settings.test.ts
  tests/unit/components/admin/orchestration/agent-form-general.test.tsx
  tests/unit/components/admin/orchestration/agent-form-model.test.tsx
  tests/unit/components/admin/orchestration/costs/costs-view.test.tsx
  tests/unit/components/admin/orchestration/costs/orchestration-settings-form.test.tsx
  tests/unit/lib/orchestration/capabilities/dispatcher.test.ts
  tests/unit/lib/orchestration/chat/message-builder.test.ts
  tests/unit/lib/orchestration/chat/summarizer.test.ts
  tests/unit/lib/orchestration/llm/circuit-breaker.test.ts
  tests/unit/lib/orchestration/llm/provider-fallback.test.ts
  tests/unit/lib/orchestration/settings.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add configurable search weights and lastSeededAt to orchestration settings
  .context/orchestration/admin-api.md
  app/api/v1/admin/orchestration/knowledge/seed/route.ts
  app/api/v1/admin/orchestration/settings/route.ts
  components/admin/orchestration/knowledge/knowledge-view.tsx
  lib/orchestration/knowledge/search.ts
  lib/orchestration/knowledge/seeder.ts
  lib/orchestration/settings.ts
  lib/validations/orchestration.ts
  prisma/migrations/20260416203100_add_search_config_and_last_seeded_to_settings/migration.sql
  prisma/schema.prisma
  tests/integration/api/v1/admin/orchestration/knowledge.seed.test.ts
  tests/integration/api/v1/admin/orchestration/settings.test.ts
  tests/unit/components/admin/orchestration/costs/costs-view.test.tsx
  tests/unit/components/admin/orchestration/costs/orchestration-settings-form.test.tsx
  tests/unit/lib/orchestration/knowledge/seeder.test.ts
  tests/unit/lib/orchestration/settings.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add Phase 4 admin UI configuration improvements
  .context/admin/agent-form.md
  .context/admin/setup-wizard.md
  .context/orchestration/admin-api.md
  app/api/v1/admin/orchestration/agents/[id]/capabilities/usage/route.ts
  app/api/v1/admin/orchestration/providers/[id]/test-model/route.ts
  components/admin/orchestration/agent-capabilities-tab.tsx
  components/admin/orchestration/agent-form.tsx
  components/admin/orchestration/learn/learning-tabs.tsx
  components/admin/orchestration/model-test-button.tsx
  components/admin/orchestration/setup-wizard.tsx
  lib/api/endpoints.ts
  lib/orchestration/utils/extract-workflow-definition.ts
  tests/unit/app/api/v1/admin/orchestration/agents/capabilities-usage.route.test.ts
  tests/unit/app/api/v1/admin/orchestration/providers/test-model.route.test.ts
  tests/unit/components/admin/orchestration/agent-capabilities-tab-usage.test.tsx
  tests/unit/components/admin/orchestration/model-test-button.test.tsx
  tests/unit/components/admin/orchestration/setup-wizard-step-intro.test.tsx
  tests/unit/lib/orchestration/utils/extract-workflow-definition.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: ensure isSystem flag is set on pre-existing seeded agents/capabilities
  prisma/seeds/005-pattern-advisor.ts
  prisma/seeds/006-quiz-master.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add learning interface Phase 6 improvements
  .context/admin/orchestration-learn.md
  .context/api/orchestration-endpoints.md
  app/admin/orchestration/learn/page.tsx
  app/admin/orchestration/learn/patterns/[number]/page.tsx
  app/api/v1/admin/orchestration/quiz-scores/route.ts
  components/admin/orchestration/learn/discuss-pattern-button.tsx
  components/admin/orchestration/learn/learning-tabs.tsx
  components/admin/orchestration/learn/related-patterns.tsx
  components/admin/orchestration/learn/use-pattern-button.tsx
  lib/api/endpoints.ts
  lib/orchestration/utils/extract-related-patterns.ts
  lib/validations/orchestration.ts
  tests/integration/app/admin/orchestration/learn/page.test.tsx
  tests/unit/app/api/v1/admin/orchestration/quiz-scores/route.test.ts
  tests/unit/components/admin/orchestration/learn/discuss-pattern-button.test.tsx
  tests/unit/components/admin/orchestration/learn/learning-tabs.test.tsx
  tests/unit/components/admin/orchestration/learn/related-patterns.test.tsx
  tests/unit/components/admin/orchestration/learn/use-pattern-button.test.tsx
  tests/unit/lib/orchestration/utils/extract-related-patterns.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: add migration for isSystem column on agents and capabilities
  prisma/migrations/20260417072644_add_is_system_to_agents_and_capabilities/migration.sql
Due: none

feat: harden external_call executor with rate limiting, error classification, and response caps
  .context/orchestration/engine.md
  .context/orchestration/external-calls.md
  .context/orchestration/resilience.md
  CLAUDE.md
  components/admin/orchestration/workflow-builder/block-editors/external-call-editor.tsx
  lib/orchestration/engine/errors.ts
  lib/orchestration/engine/executors/external-call.ts
  lib/orchestration/engine/orchestration-engine.ts
  lib/orchestration/engine/outbound-rate-limiter.ts
  lib/validations/orchestration.ts
  tests/unit/lib/orchestration/engine/errors.test.ts
  tests/unit/lib/orchestration/engine/executors/external-call.test.ts
  tests/unit/lib/orchestration/engine/outbound-rate-limiter.test.ts
  tests/unit/lib/orchestration/engine/step-timeout.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: resolve pattern names in related patterns badges
  app/admin/orchestration/learn/patterns/[number]/page.tsx
  lib/orchestration/utils/extract-related-patterns.ts
  tests/unit/lib/orchestration/utils/extract-related-patterns.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: capability form Builder/JSON toggle clarity and recovery
  .context/admin/capability-form.md
  components/admin/orchestration/capability-form.tsx
  tests/unit/components/admin/orchestration/capability-form-function-definition.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: capability form toggle stuck on JSON for seeded capabilities
  components/admin/orchestration/capability-form.tsx
  tests/unit/components/admin/orchestration/capability-form-function-definition.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: expand knowledge base upload help with chunking, formatting, and content guidance
  components/admin/orchestration/knowledge/document-upload-zone.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: Phase 7 — SSE reconnect, retry-step, observability & test coverage
  .context/admin/orchestration-chat-interface.md
  .context/api/orchestration-endpoints.md
  .context/orchestration/chat.md
  app/api/v1/admin/orchestration/chat/stream/route.ts
  app/api/v1/admin/orchestration/executions/[id]/retry-step/route.ts
  components/admin/orchestration/agent-form.tsx
  components/admin/orchestration/agents-table.tsx
  components/admin/orchestration/capabilities-table.tsx
  components/admin/orchestration/chat/chat-interface.tsx
  components/admin/orchestration/evaluation-runner.tsx
  components/admin/orchestration/workflow-builder/execution-panel.tsx
  components/admin/orchestration/workflow-builder/execution-trace-entry.tsx
  lib/api/endpoints.ts
  lib/orchestration/chat/streaming-handler.ts
  lib/orchestration/chat/types.ts
  lib/orchestration/evaluations/annotation-serializer.ts
  lib/validations/orchestration.ts
  tests/integration/api/v1/admin/orchestration/executions.id.retry-step.test.ts
  tests/unit/components/admin/orchestration/chat/chat-interface.test.tsx
  tests/unit/components/admin/orchestration/evaluation-runner.test.tsx
  tests/unit/lib/orchestration/chat/streaming-handler.test.ts
  tests/unit/lib/orchestration/evaluations/annotation-serializer.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: knowledge base tabbed UI with scope filtering and graph visualization
  app/api/v1/admin/orchestration/knowledge/documents/[id]/retry/route.ts
  app/api/v1/admin/orchestration/knowledge/documents/route.ts
  app/api/v1/admin/orchestration/knowledge/graph/route.ts
  app/api/v1/admin/orchestration/knowledge/search/route.ts
  components/admin/orchestration/knowledge/errors-tab.tsx
  components/admin/orchestration/knowledge/explore-tab.tsx
  components/admin/orchestration/knowledge/knowledge-view.tsx
  components/admin/orchestration/knowledge/manage-tab.tsx
  components/admin/orchestration/knowledge/search-test.tsx
  components/admin/orchestration/knowledge/visualize-tab.tsx
  lib/constants/knowledge.ts
  lib/orchestration/knowledge/document-manager.ts
  lib/orchestration/knowledge/search.ts
  lib/orchestration/knowledge/seeder.ts
  lib/validations/orchestration.ts
  package-lock.json
  package.json
  prisma/migrations/20260417110034_add_scope_to_knowledge_documents/migration.sql
  prisma/schema.prisma
  tests/integration/app/admin/orchestration/knowledge/page.test.tsx
  tests/unit/components/admin/orchestration/knowledge/knowledge-view.test.tsx
  tests/unit/components/admin/orchestration/knowledge/search-test.test.tsx
  tests/unit/lib/orchestration/knowledge/document-manager.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: UI polish — template banner, CLI authoring hint, test chat placeholder, wizard provider check
  components/admin/orchestration/agent-form.tsx
  components/admin/orchestration/agent-test-chat.tsx
  components/admin/orchestration/capability-form.tsx
  components/admin/orchestration/cli-authoring-hint.tsx
  components/admin/orchestration/setup-wizard.tsx
  components/admin/orchestration/workflow-builder/template-banner.tsx
  components/admin/orchestration/workflow-builder/workflow-builder.tsx
  tests/unit/components/admin/orchestration/setup-wizard.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/template-banner.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add cross-cutting improvements — cloning, webhooks, bulk ops, search, dark mode, metrics & comparison
  app/admin/orchestration/agents/compare/page.tsx
  app/admin/orchestration/capabilities/[id]/page.tsx
  app/admin/orchestration/conversations/page.tsx
  app/api/v1/admin/orchestration/agents/bulk/route.ts
  app/api/v1/admin/orchestration/agents/compare/route.ts
  app/api/v1/admin/orchestration/capabilities/[id]/stats/route.ts
  app/api/v1/admin/orchestration/conversations/route.ts
  app/api/v1/admin/orchestration/webhooks/[id]/route.ts
  app/api/v1/admin/orchestration/webhooks/route.ts
  components/admin/orchestration/agent-comparison-view.tsx
  components/admin/orchestration/agents-table.tsx
  components/admin/orchestration/capability-stats-panel.tsx
  components/admin/orchestration/conversations-table.tsx
  components/admin/orchestration/duplicate-agent-dialog.tsx
  components/admin/orchestration/workflow-builder/node-types/pattern-node.tsx
  components/admin/orchestration/workflow-builder/workflow-canvas.tsx
  lib/api/endpoints.ts
  lib/orchestration/chat/streaming-handler.ts
  lib/orchestration/engine/events.ts
  lib/orchestration/llm/circuit-breaker.ts
  lib/orchestration/webhooks/dispatcher.ts
  lib/validations/orchestration.ts
  prisma/migrations/20260417102137_add_webhook_subscriptions/migration.sql
  prisma/schema.prisma
  tests/integration/api/v1/admin/orchestration/agents.bulk.test.ts
  tests/integration/api/v1/admin/orchestration/agents.compare.test.ts
  tests/integration/api/v1/admin/orchestration/capabilities.stats.test.ts
  tests/integration/api/v1/admin/orchestration/conversations.test.ts
  tests/integration/api/v1/admin/orchestration/webhooks.test.ts
  tests/unit/components/admin/orchestration/duplicate-agent-dialog.test.tsx
  tests/unit/lib/orchestration/webhooks/dispatcher.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: fix 2 broken tests and add coverage for 11 untested files
  tests/integration/api/v1/admin/orchestration/agents.id.capabilities.usage.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.clone.test.ts
  tests/integration/api/v1/admin/orchestration/evaluations.id.complete.test.ts
  tests/integration/api/v1/admin/orchestration/knowledge.documents.id.retry.test.ts
  tests/integration/api/v1/admin/orchestration/knowledge.embedding-status.test.ts
  tests/integration/api/v1/admin/orchestration/knowledge.graph.test.ts
  tests/integration/api/v1/admin/orchestration/providers.id.test-model.test.ts
  tests/integration/api/v1/admin/orchestration/quiz-scores.test.ts
  tests/integration/api/v1/admin/orchestration/webhooks.id.test.ts
  tests/integration/api/v1/admin/orchestration/workflows.id.definition-history.test.ts
  tests/integration/api/v1/admin/orchestration/workflows.id.definition-revert.test.ts
  tests/integration/api/v1/admin/orchestration/workflows.id.dry-run.test.ts
  tests/unit/components/admin/orchestration/cli-authoring-hint.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: security hardening — SSE injection, Mermaid XSS, raw SQL, rate limits, input guard
  app/api/v1/admin/orchestration/agents/compare/route.ts
  app/api/v1/admin/orchestration/costs/summary/route.ts
  app/api/v1/admin/orchestration/embedding-models/route.ts
  app/api/v1/admin/orchestration/evaluations/[id]/complete/route.ts
  app/api/v1/admin/orchestration/knowledge/documents/route.ts
  app/api/v1/admin/orchestration/knowledge/embedding-status/route.ts
  app/api/v1/admin/orchestration/knowledge/graph/route.ts
  app/api/v1/admin/orchestration/observability/dashboard-stats/route.ts
  app/api/v1/admin/orchestration/providers/[id]/models/route.ts
  app/api/v1/admin/orchestration/quiz-scores/route.ts
  components/admin/orchestration/learn/mermaid-diagram.tsx
  lib/api/sse.ts
  lib/orchestration/chat/input-guard.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: align API key warning box to bottom of provider cards
  components/admin/orchestration/providers-list.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add category as first-class field with scope-grouped meta-tags
  .context/admin/orchestration-knowledge-ui.md
  .context/api/orchestration-endpoints.md
  .context/orchestration/knowledge.md
  app/api/v1/admin/orchestration/knowledge/documents/route.ts
  app/api/v1/admin/orchestration/knowledge/meta-tags/route.ts
  components/admin/orchestration/knowledge/document-upload-zone.tsx
  components/admin/orchestration/knowledge/manage-tab.tsx
  lib/api/endpoints.ts
  lib/orchestration/knowledge/chunker.ts
  lib/orchestration/knowledge/document-manager.ts
  lib/validations/orchestration.ts
  prisma/migrations/20260417143027_add_knowledge_category_and_agent_filter/migration.sql
  prisma/schema.prisma
  tests/integration/api/v1/admin/orchestration/knowledge.documents.test.ts
  tests/integration/api/v1/admin/orchestration/knowledge.meta-tags.test.ts
  tests/unit/components/admin/orchestration/agent-form-general.test.tsx
  tests/unit/components/admin/orchestration/knowledge/document-upload-zone.test.tsx
  tests/unit/components/admin/orchestration/knowledge/knowledge-view.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/lib/orchestration/knowledge/document-manager.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: gitignore Playwright MCP debug output
  .gitignore
Due: none

Path conditions:
  eslint --fix --cache --cache-location .next/cache/eslint/: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
