Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": [
    "eslint --fix --cache --cache-location .next/cache/eslint/",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

fix(types): replace unsafe type assertions with runtime validation
  app/api/auth/accept-invite/route.ts
  app/api/v1/users/me/preferences/route.ts
  components/admin/user-edit-form.tsx
  components/admin/user-table.tsx
  components/auth/user-button.tsx
  components/layouts/protected-nav.tsx
  lib/analytics/config.ts
  lib/analytics/events/types.ts
  lib/analytics/providers/plausible.ts
  lib/analytics/types.ts
  lib/api/errors.ts
  lib/auth/client.ts
  lib/auth/utils.ts
  lib/consent/consent-provider.tsx
  lib/security/sanitize.ts
  lib/storage/client.ts
  lib/storage/image.ts
  lib/utils/invitation-token.ts
  lib/validations/admin.ts
  package-lock.json
  prisma/migrations/20260204100000_make_role_non_nullable/migration.sql
  prisma/schema.prisma
  tests/unit/app/admin/users/[id]/page.test.tsx
  tests/unit/components/admin/user-edit-form.test.tsx
  tests/unit/components/admin/user-table.test.tsx
  tests/unit/components/auth/user-button.test.tsx
  tests/unit/lib/api/errors.test.ts
  tests/unit/lib/auth/client.test.ts
  tests/unit/lib/storage/client.test.ts
  tests/unit/lib/validations/admin.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(logging): replace console usage with structured logger
  app/api/auth/accept-invite/route.ts
  app/api/v1/users/me/avatar/route.ts
  components/admin/feature-flags-page.tsx
  components/admin/invitation-table.tsx
  components/admin/logs-viewer.tsx
  components/admin/user-table.tsx
  lib/analytics/client.ts
  lib/analytics/config.ts
  lib/analytics/providers/ga4.ts
  lib/analytics/providers/plausible.ts
  lib/analytics/providers/posthog.ts
  lib/logging/index.ts
  lib/utils/invitation-token.ts
  tests/unit/app/api/auth/accept-invite/route.test.ts
  tests/unit/app/api/v1/users/me/avatar/route.test.ts
  tests/unit/components/admin/feature-flags-page.test.tsx
  tests/unit/lib/analytics/client.test.ts
  tests/unit/lib/analytics/config.test.ts
  tests/unit/lib/logging/logger.test.ts
  tests/unit/lib/utils/invitation-token.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor: extract shared utilities and fix memory leaks
  app/(protected)/settings/page.tsx
  components/admin/feature-flag-form.tsx
  components/admin/feature-flag-list.tsx
  components/admin/feature-flags-page.tsx
  components/admin/invitation-table.tsx
  components/admin/logs-viewer.tsx
  components/admin/user-edit-form.tsx
  components/admin/user-invite-form.tsx
  components/admin/user-table.tsx
  components/auth/user-button.tsx
  components/forms/accept-invite-form.tsx
  components/forms/avatar-upload.tsx
  components/forms/contact-form.tsx
  components/forms/delete-account-form.tsx
  components/forms/preferences-form.tsx
  components/forms/profile-form.tsx
  emails/contact-notification.tsx
  emails/invitation.tsx
  emails/reset-password.tsx
  emails/verify-email.tsx
  emails/welcome.tsx
  lib/api/endpoints.ts
  lib/storage/constants.ts
  lib/storage/image.ts
  lib/storage/upload.ts
  lib/utils/initials.ts
  lib/validations/storage.ts
  tests/unit/lib/api/endpoints.test.ts
  tests/unit/lib/storage/upload.test.ts
  tests/unit/lib/utils/initials.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor(admin): add error boundaries and loading states
  app/(protected)/error.tsx
  app/admin/error.tsx
  app/admin/loading.tsx
  app/error.tsx
  components/ui/error-card.tsx
  tests/unit/components/ui/error-card.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: remove dead code and fix CSP, email, seed, and schema issues
  app/(protected)/settings/page.tsx
  app/api/v1/users/me/preferences/route.ts
  emails/welcome.tsx
  lib/auth/config.ts
  lib/monitoring/performance.ts
  lib/security/headers.ts
  lib/validations/user.ts
  prisma/schema.prisma
  prisma/seed.ts
  tests/unit/emails/welcome.test.tsx
  tests/unit/lib/security/headers.test.ts
  types/index.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(storage): add key validation to prevent path traversal attacks
  lib/storage/providers/local.ts
  lib/storage/providers/s3.ts
  lib/storage/providers/validate-key.ts
  tests/unit/lib/storage/providers/validate-key.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: scope Sentry context and fix global error handler
  app/error-handling-provider.tsx
  lib/errors/handler.ts
  lib/errors/sentry.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

perf(db): add missing indexes on Verification and ContactSubmission
  prisma/schema.prisma
Due: none

fix(auth): update session after invite acceptance
  components/forms/accept-invite-form.tsx
  tests/unit/components/forms/accept-invite-form.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add /pre-pr slash command for pre-PR validation
  .claude/commands/pre-pr.md
Due: prettier --write

fix: resolve lint errors in use-url-tabs and timezones utils
  lib/hooks/use-url-tabs.ts
  lib/utils/timezones.ts
  tests/unit/lib/hooks/use-url-tabs.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor: replace unsafe `as` casts on API responses with runtime validation
  app/admin/logs/page.tsx
  app/admin/overview/page.tsx
  app/admin/users/[id]/edit/page.tsx
  app/admin/users/[id]/page.tsx
  app/admin/users/page.tsx
  app/api/v1/admin/invitations/[email]/route.ts
  components/admin/feature-flags-page.tsx
  components/admin/invitation-table.tsx
  components/admin/logs-viewer.tsx
  components/admin/user-table.tsx
  lib/api/parse-response.ts
  lib/api/server-fetch.ts
  tests/unit/lib/api/parse-response.test.ts
  types/admin.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor: replace 15 unsafe `as` casts with runtime validation
  app/api/auth/accept-invite/route.ts
  app/api/v1/contact/route.ts
  app/api/v1/users/me/route.ts
  components/admin/invitation-table.tsx
  components/admin/logs-viewer.tsx
  components/admin/user-table.tsx
  components/forms/avatar-upload.tsx
  components/forms/login-form.tsx
  lib/api/client.ts
  lib/api/errors.ts
  lib/auth/config.ts
  lib/errors/handler.ts
  lib/logging/index.ts
  lib/security/sanitize.ts
  lib/utils.ts
  lib/validations/common.ts
  tests/unit/app/api/auth/accept-invite/route.test.ts
  tests/unit/lib/api/errors.test.ts
  tests/unit/lib/errors/handler.test.ts
  tests/unit/lib/utils.test.ts
  tests/unit/lib/validations/common.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add comprehensive tests for handleClientError and initGlobalErrorHandler
  tests/unit/lib/errors/handler.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: comprehensive documentation overhaul and audit
  .claude/commands/docs-audit.md
  .context/admin/overview.md
  .context/api/admin-endpoints.md
  .context/api/auth-endpoints.md
  .context/api/endpoints.md
  .context/api/examples.md
  .context/api/headers.md
  .context/api/user-endpoints.md
  .context/api/utility-endpoints.md
  .context/architecture/dependencies.md
  .context/auth/decisions.md
  .context/auth/forms.md
  .context/auth/integration.md
  .context/auth/oauth.md
  .context/auth/overview.md
  .context/auth/sessions.md
  .context/database/schema.md
  .context/environment/auth-env.md
  .context/environment/database-env.md
  .context/environment/email-env.md
  .context/environment/reference.md
  .context/environment/services-env.md
  .context/environment/storage-env.md
  .context/guidelines.md
  .context/security/overview.md
  .context/storage/overview.md
  .context/substrate.md
  .context/testing/async-testing.md
  .context/testing/edge-cases.md
  .context/testing/mocking.md
  .context/testing/overview.md
  .context/testing/patterns.md
  .context/testing/type-safety.md
Due: prettier --write

docs: overhaul CLAUDE.md for AI context efficiency
  .context/commands.md
  .context/substrate.md
  CLAUDE.md
Due: prettier --write

docs: streamline substrate and consolidate workflow docs
  .context/architecture/decisions.md
  .context/guidelines.md
  .context/substrate.md
  .context/workflow.md
  .instructions/BREAKING-CHANGES.md
  .instructions/CLAUDE-CODE-GUIDE.md
  CLAUDE.md
Due: prettier --write

refactor: remove redundant sections from architecture overview
  .context/architecture/overview.md
Due: prettier --write

refactor: streamline deployment overview from 348 to 89 lines
  .context/architecture/decisions.md
  .context/deployment/overview.md
Due: prettier --write

docs: update API documentation to match implementation
  .context/api/endpoints.md
  .context/api/examples.md
  .context/api/headers.md
  .context/api/utility-endpoints.md
  lib/api/endpoints.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix admin documentation drift from codebase audit
  .context/admin/feature-flags.md
  .context/admin/invitations.md
  .context/admin/logs.md
  .context/admin/overview.md
  .context/admin/stats.md
Due: prettier --write

docs: fix analytics documentation drift from codebase audit
  .context/analytics/events.md
  .context/analytics/extending.md
  .context/analytics/overview.md
  .context/analytics/providers.md
  .context/analytics/troubleshooting.md
  lib/analytics/index.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix architecture documentation drift from codebase audit
  .context/architecture/dependencies.md
  .context/architecture/overview.md
  .context/architecture/patterns.md
Due: prettier --write

docs: fix API documentation drift from codebase audit
  .context/api/endpoints.md
  .context/api/examples.md
  .context/api/user-endpoints.md
Due: prettier --write

docs: fix auth documentation drift from codebase audit
  .context/auth/forms.md
  .context/auth/integration.md
  .context/auth/overview.md
  .context/auth/security.md
  .context/auth/sessions.md
Due: prettier --write

feat: add docs-writer skill for .context/ documentation
  .claude/skills/docs-writer/SKILL.md
  CLAUDE.md
Due: prettier --write

docs: fix database documentation drift from codebase audit
  .context/database/migrations.md
  .context/database/models.md
  .context/database/schema.md
Due: prettier --write

docs: fix deployment documentation drift from codebase audit
  .context/deployment/overview.md
  .context/deployment/platforms/docker-self-hosted.md
  .context/deployment/platforms/railway.md
  .context/deployment/platforms/render.md
  .context/deployment/platforms/vercel.md
  .context/environment/reference.md
  docker-compose.prod.yml
Due: prettier --write

docs: fix email documentation drift from codebase audit
  .context/email/overview.md
Due: prettier --write

docs: fix environment documentation drift from codebase audit
  .context/environment/email-env.md
  .context/environment/reference.md
  .context/environment/services-env.md
  .context/environment/storage-env.md
Due: prettier --write

docs: fix monitoring documentation drift from codebase audit
  .context/monitoring/health-checks.md
  .context/monitoring/log-aggregation.md
  .context/monitoring/overview.md
Due: prettier --write

docs: fix errors documentation drift from codebase audit
  .context/errors/logging.md
  .context/errors/overview.md
  .instructions/REQUEST-CONTEXT-TRACING.md
  app/global-error.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix privacy documentation drift from codebase audit
  .context/privacy/api.md
  .context/privacy/components.md
  .context/privacy/overview.md
Due: prettier --write

docs: fix security documentation drift from codebase audit
  .context/security/overview.md
Due: prettier --write

docs: fix SEO documentation drift from codebase audit
  .context/seo/overview.md
  app/robots.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix storage documentation drift from codebase audit
  .context/storage/overview.md
  lib/storage/providers/s3.ts
  lib/storage/providers/vercel-blob.ts
  tests/unit/lib/storage/providers/local.test.ts
  tests/unit/lib/storage/providers/s3.test.ts
  tests/unit/lib/storage/providers/vercel-blob.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix testing documentation drift from codebase audit
  .context/testing/async-testing.md
  .context/testing/mocking.md
  .context/testing/overview.md
  .context/testing/patterns.md
  .context/testing/type-safety.md
  vitest.config.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: emailSchema transform order and update types documentation
  .context/types/conventions.md
  .context/types/overview.md
  lib/validations/auth.ts
  tests/unit/app/api/auth/send-verification-email/route.test.ts
  tests/unit/lib/validations/auth.test.ts
  tests/unit/lib/validations/send-verification-email.test.ts
  tests/unit/lib/validations/user.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix UI documentation drift from codebase audit
  .context/ui/auth-theme.md
  .context/ui/components.md
  .context/ui/consent.md
  .context/ui/forms.md
  .context/ui/layouts.md
  .context/ui/maintenance.md
  .context/ui/marketing.md
  .context/ui/overview.md
Due: prettier --write

test: fix endpoints test and add global-error coverage
  tests/unit/app/global-error.test.tsx
  tests/unit/lib/api/endpoints.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write
