Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": [
    "eslint --fix --cache --cache-location .next/cache/eslint/",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

The t-692 bullet no longer describes a roster no release ships
  CHANGELOG.md
Due: prettier --write

chore(deps): bump the 30 minor/patch updates from #779 and #780, minus the better-auth pair
  package-lock.json
  package.json
Due: prettier --write

Sign-in keeps working on better-auth 1.7.4: Account.issuer is dropped, and the parity test now checks the direction that broke
  .context/auth/oauth.md
  .context/database/schema.md
  CHANGELOG.md
  lib/auth/constants.ts
  package-lock.json
  package.json
  prisma/migrations/20260915180000_drop_account_issuer/migration.sql
  prisma/schema/auth.prisma
  scripts/smoke/export.ts
  tests/unit/prisma/auth-schema-parity.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

zod is declared as a dependency, at the version the tree already resolves
  package-lock.json
  package.json
Due: prettier --write

The suite runs on vitest 5 and vite 8 with the same 1186 files collected, and jest-dom matchers type-check again
  .github/dependabot.yml
  .gitignore
  .prettierignore
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/ci/dom-tests.ts
  scripts/ci/scoped-tests.ts
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

The two testing docs that quote the re-measured vitest 4 behaviours say they hold on 5 too
  .context/testing/environments.md
  .context/testing/scoped-runs.md
Due: prettier --write

The testing skill's setup-file snippet imports the jest-dom entry that type-checks on vitest 5
  .claude/skills/testing/gotchas.md
Due: prettier --write

chore(release): Sunrise 0.12.0
  CHANGELOG.md
  lib/sunrise-version.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

The 0.12.0 fork note says where the session goes: second, after the query
  CHANGELOG.md
Due: prettier --write

The 0.12.0 release note names the three Dependabot alerts open at the cut and why they are accepted
  CHANGELOG.md
Due: prettier --write

feat(tenancy): Org and OrgMembership, the install org, and every existing user made a member
  prisma/migrations/20260917120000_org_identity/migration.sql
  prisma/schema/auth.prisma
  prisma/schema/mcp.prisma
  prisma/schema/orchestration-agents.prisma
  prisma/schema/orchestration-providers.prisma
  prisma/schema/tenancy.prisma
Due: none

feat(tenancy): the org-role vocabulary, and every new user joins the install org
  lib/auth/config.ts
  lib/privacy/export-sources.ts
  lib/tenancy/constants.ts
  lib/tenancy/membership.ts
  lib/tenancy/roles.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(tenancy): the invariant both ways, the migration's statements, and two real-DB smokes
  package.json
  scripts/smoke/erasure.ts
  scripts/smoke/tenancy.ts
  tests/unit/auth-role-literals.test.ts
  tests/unit/lib/auth/config-database-hook.test.ts
  tests/unit/lib/privacy/export-sources.test.ts
  tests/unit/lib/tenancy/migration.test.ts
  tests/unit/lib/tenancy/roles.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the org identity guide, the spec banner corrected, and the CHANGELOG entry
  .context/architecture/multi-tenancy-design.md
  .context/database/schema.md
  .context/tenancy/identity.md
  CHANGELOG.md
  CLAUDE.md
  VERSIONING.md
Due: prettier --write

docs(auth): the after hook has one blocking step now, and the CHANGELOG says who reads the new rows
  .context/auth/overview.md
  .context/auth/user-creation.md
  CHANGELOG.md
Due: prettier --write

docs(tenancy): name the invited-admin under-grant the identity invariant has until t-670
  .context/tenancy/identity.md
Due: prettier --write

fix(auth): a sign-up request can no longer choose its own role
  .context/auth/overview.md
  CHANGELOG.md
  lib/auth/config.ts
  tests/unit/lib/auth/config-role-input.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(auth): name and test the second path the same line closes — self-promotion via update-user
  CHANGELOG.md
  lib/auth/config.ts
  tests/unit/lib/auth/config-role-input.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(changelog): the update-user refusal is for a non-empty value
  CHANGELOG.md
Due: prettier --write

fix(tenancy): the seeded config-owner joins the install org on a fresh database, and the smoke never touches rows it did not create
  .context/tenancy/identity.md
  .github/workflows/ci.yml
  lib/tenancy/membership.ts
  prisma/seeds/001-system-owner.ts
  scripts/smoke/tenancy.ts
  tests/unit/prisma/seeds/system-owner.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(tenancy): the signup membership write is non-blocking, and the record says why
  .context/auth/overview.md
  .context/auth/user-creation.md
  .context/tenancy/identity.md
  CHANGELOG.md
  lib/auth/config.ts
  lib/tenancy/membership.ts
  scripts/smoke/tenancy.ts
  tests/unit/lib/auth/config-database-hook.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the non-blocking rationale now matches how better-auth actually orders its hooks
  .context/tenancy/identity.md
  lib/auth/config.ts
  lib/tenancy/membership.ts
  tests/unit/lib/auth/config-database-hook.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore(release): Sunrise 0.12.1
  CHANGELOG.md
  lib/sunrise-version.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(changelog): the 0.12.1 blockquote claims only what #804 did
  CHANGELOG.md
Due: prettier --write

feat(tenancy): a session knows its org, a member can switch, and an invitation can name one
  app/api/auth/accept-invite/route.ts
  app/api/v1/orgs/switch/route.ts
  app/api/v1/users/invite/route.ts
  lib/api/endpoints.ts
  lib/auth/client.ts
  lib/auth/config.ts
  lib/auth/guards.ts
  lib/auth/pending-signup.ts
  lib/auth/signup-mode.ts
  lib/tenancy/membership.ts
  lib/validations/admin.ts
  lib/validations/tenancy.ts
  lib/validations/user.ts
  package-lock.json
  package.json
  prisma/schema/auth.prisma
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(tenancy): the membership table, the session hook's order, the switch through the real guard, and the field with a control
  tests/unit/app/api/auth/accept-invite/route.test.ts
  tests/unit/app/api/v1/orgs/switch/route.test.ts
  tests/unit/app/api/v1/users/invite/route.test.ts
  tests/unit/lib/api/endpoints.test.ts
  tests/unit/lib/auth/client.test.ts
  tests/unit/lib/auth/config-database-hook.test.ts
  tests/unit/lib/auth/config-session-field.test.ts
  tests/unit/lib/auth/config-session-hook.test.ts
  tests/unit/lib/auth/config-signup-mode.test.ts
  tests/unit/lib/auth/pending-signup.test.ts
  tests/unit/lib/auth/signup-mode.test.ts
  tests/unit/lib/tenancy/membership.test.ts
  tests/unit/lib/validations/admin.test.ts
  tests/unit/lib/validations/user.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the active org and org-aware invitations in the identity guide, the session and auth-endpoint pages, and the CHANGELOG
  .context/api/auth-endpoints.md
  .context/auth/sessions.md
  .context/auth/user-creation.md
  .context/tenancy/identity.md
  CHANGELOG.md
Due: prettier --write

test(tenancy): switchOrgSchema at the boundary — the install org id is not a cuid
  tests/unit/lib/validations/tenancy.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: the org is on session.session, and the t-669 bullet no longer calls activeOrgId unread
  .context/security/rate-limiting.md
  CHANGELOG.md
Due: prettier --write

fix(invite): the response says where an invitation points, and the two entry-time stances are written down
  .context/api/auth-endpoints.md
  .context/tenancy/identity.md
  app/api/v1/orgs/switch/route.ts
  app/api/v1/users/invite/route.ts
  lib/tenancy/membership.ts
  tests/unit/app/api/v1/users/invite/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(invite): a resend re-sends THIS invitation — the pending org keys carry over unless the body names an org
  .context/api/auth-endpoints.md
  .context/tenancy/identity.md
  app/api/v1/users/invite/route.ts
  tests/unit/app/api/v1/users/invite/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(invite): an orgRole without an orgId is the install org with an explicit role — round 2 had dropped it
  .context/api/auth-endpoints.md
  .context/tenancy/identity.md
  app/api/v1/users/invite/route.ts
  tests/unit/app/api/v1/users/invite/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the invitation table names the orgRole-only arm
  .context/tenancy/identity.md
Due: prettier --write

feat(tenancy): a request knows which org it acts for, and the admin decision can read it
  .context/architecture/fork-init-seams.md
  VERSIONING.md
  app/admin/layout.tsx
  app/api/v1/webhooks/trigger/[slug]/route.ts
  components/maintenance-wrapper.tsx
  lib/app/authorization.ts
  lib/app/tenant-resolver.ts
  lib/auth/api-keys.ts
  lib/auth/authorization.ts
  lib/auth/guards.ts
  lib/logging/context.ts
  lib/logging/index.ts
  lib/tenancy/context.ts
  lib/tenancy/entry.ts
  lib/tenancy/resolver.ts
  proxy.ts
  tests/unit/fork-init-seams.test.ts
  tests/unit/lib/app/defaults.test.ts
  tests/unit/lib/auth/guards-authorization.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(tenancy): the context's six ALS behaviours, the read rule's every arm, the guards' three sources, the proxy header, the org arm, and the byte-identical sweep
  tests/unit/app/api/v1/webhooks/trigger/route.test.ts
  tests/unit/lib/auth/authorization-org.test.ts
  tests/unit/lib/auth/guards-tenancy.test.ts
  tests/unit/lib/logging/context.test.ts
  tests/unit/lib/security/proxy.test.ts
  tests/unit/lib/tenancy/context.test.ts
  tests/unit/lib/tenancy/entry.test.ts
  tests/unit/lib/tenancy/resolver.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the tenant-context guide, the org input in the authorization guide, the spec banner brought to t-671, and the CHANGELOG
  .context/architecture/multi-tenancy-design.md
  .context/auth/authorization.md
  .context/tenancy/context.md
  .context/tenancy/identity.md
  CHANGELOG.md
  CLAUDE.md
Due: prettier --write

docs: the two context tables that name changed functions, and the inherited bullets no longer say nothing reads the org rows
  .context/logging/request-context.md
  .context/orchestration/api-keys.md
  CHANGELOG.md
Due: prettier --write

docs(tenancy): the sole-writer property is scoped to the proxy matcher; membership is what admits
  .context/tenancy/context.md
Due: prettier --write

fix(tenancy): the switch is reachable from a refused org, sign-in prefers an active one, a throwing resolver is logged, and a resolver's answer is shape-checked
  .context/auth/authorization.md
  .context/tenancy/context.md
  .context/tenancy/identity.md
  app/api/v1/orgs/switch/route.ts
  lib/auth/authorization.ts
  lib/auth/guards.ts
  lib/tenancy/membership.ts
  lib/tenancy/resolver.ts
  proxy.ts
  tests/unit/lib/auth/guards-tenancy.test.ts
  tests/unit/lib/security/proxy.test.ts
  tests/unit/lib/tenancy/membership.test.ts
  tests/unit/lib/tenancy/resolver.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(tenancy): a malformed resolver answer is reported like a throw; the switch's cross-org reads are §107's to scope; three docblocks
  app/api/v1/orgs/switch/route.ts
  lib/auth/config.ts
  lib/auth/guards.ts
  lib/tenancy/resolver.ts
  tests/unit/lib/security/proxy.test.ts
  tests/unit/lib/tenancy/resolver.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write
