Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: validate email format before adding to escalation list
  components/admin/orchestration/settings-form.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add unit tests for user settings page
  tests/unit/app/(protected)/settings/page.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: fix MCP route and password-form tests after audit logging and FieldHelp
  tests/unit/app/api/v1/admin/orchestration/mcp/settings/route.test.ts
  tests/unit/components/forms/password-form.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: address pre-existing CLAUDE.md violations in settings area
  app/(protected)/settings/page.tsx
  app/api/v1/users/me/preferences/route.ts
  lib/orchestration/chat/streaming-handler.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: phase 2 settings alignment — audit logging, search warning, profile fixes
  app/api/v1/admin/orchestration/mcp/settings/route.ts
  components/admin/orchestration/settings-form.tsx
  components/forms/profile-form.tsx
  tests/unit/components/forms/profile-form.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add unit tests for 4 uncovered source files
  tests/unit/components/admin/user-invite-form.test.tsx
  tests/unit/lib/env.test.ts
  tests/unit/lib/errors/sentry.test.ts
  tests/unit/lib/orchestration/hooks/serialize.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: increase waitFor timeout on audit-log pagination tests
  tests/unit/components/admin/orchestration/audit-log/audit-log-view.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add coverage for security, API, db client, and logging modules
  tests/unit/lib/api/sse.test.ts
  tests/unit/lib/api/validation.test.ts
  tests/unit/lib/db/client.test.ts
  tests/unit/lib/logging/index.test.ts
  tests/unit/lib/security/ip.test.ts
  tests/unit/lib/security/safe-url.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add coverage for orchestration engine, LLM provider, and hooks types
  tests/unit/lib/orchestration/engine/context.test.ts
  tests/unit/lib/orchestration/engine/executors/orchestrator.test.ts
  tests/unit/lib/orchestration/engine/outbound-rate-limiter.test.ts
  tests/unit/lib/orchestration/hooks/types.test.ts
  tests/unit/lib/orchestration/llm/circuit-breaker.test.ts
  tests/unit/lib/orchestration/llm/provider.test.ts
  tests/unit/lib/orchestration/workflows/validator.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add coverage for API routes, validations, timezones, and tracked tabs
  tests/unit/app/api/v1/admin/orchestration/observability/dashboard-stats/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/workflows/[id]/execute/route.test.ts
  tests/unit/lib/hooks/use-tracked-url-tabs.test.ts
  tests/unit/lib/utils/timezones.test.ts
  tests/unit/lib/validations/admin.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: correct FieldHelp event name reference in webhook form
  components/admin/orchestration/webhook-form.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

security: redact custom header values in toSafeHook serializer
  lib/orchestration/hooks/serialize.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: add error handling to webhooks-table fetchPage and handleDelete
  components/admin/orchestration/webhooks-table.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: add rotate-secret to endpoints table, fix audit-log entityType
  .context/admin/orchestration-audit-log.md
  .context/api/orchestration-endpoints.md
Due: prettier --write

fix: add audit logging to delivery retry endpoints
  app/api/v1/admin/orchestration/hooks/deliveries/[id]/retry/route.ts
  app/api/v1/admin/orchestration/webhooks/deliveries/[id]/retry/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: fully reset delivery state on manual retry
  lib/orchestration/hooks/registry.ts
  lib/orchestration/webhooks/dispatcher.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: extract EVENT_LABELS to shared module, format event names in UI
  components/admin/orchestration/webhook-deliveries.tsx
  components/admin/orchestration/webhook-form.tsx
  components/admin/orchestration/webhooks-table.tsx
  lib/orchestration/webhooks/event-labels.ts
  tests/unit/components/admin/orchestration/webhook-deliveries.test.tsx
  tests/unit/components/admin/orchestration/webhooks-table.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: document signing scheme differences between webhook subsystems
  .context/admin/orchestration-webhooks.md
Due: prettier --write

fix: validate slug format on webhook trigger endpoint
  app/api/v1/webhooks/trigger/[slug]/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: clarify edit-mode secret handling comment
  components/admin/orchestration/webhook-form.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: guard test endpoint against null signing secret
  app/api/v1/admin/orchestration/webhooks/[id]/test/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: show inline error when delivery retry fails
  components/admin/orchestration/webhook-deliveries.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: add orchestration functional spec and improve business applications formatting
  .context/orchestration/meta/business-applications.md
  .context/orchestration/meta/functional-specification.md
Due: prettier --write

fix: align webhook and hook API routes — validation, rate limiting, response format
  app/api/v1/admin/orchestration/hooks/[id]/deliveries/route.ts
  app/api/v1/admin/orchestration/hooks/deliveries/[id]/retry/route.ts
  app/api/v1/admin/orchestration/hooks/route.ts
  app/api/v1/admin/orchestration/webhooks/[id]/deliveries/route.ts
  app/api/v1/admin/orchestration/webhooks/deliveries/[id]/retry/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: hooks detail rate limiting, validateRequestBody, audit entityType
  app/api/v1/admin/orchestration/hooks/[id]/rotate-secret/route.ts
  app/api/v1/admin/orchestration/hooks/[id]/route.ts
  app/api/v1/admin/orchestration/hooks/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: replace unsafe type assertions with runtime validation
  lib/orchestration/hooks/registry.ts
  lib/orchestration/hooks/types.ts
  lib/orchestration/webhooks/dispatcher.ts
  lib/validations/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: update .context/ docs for webhook alignment changes
  .context/admin/orchestration-audit-log.md
  .context/admin/orchestration-webhooks.md
  .context/api/orchestration-endpoints.md
  .context/orchestration/hooks.md
  .context/orchestration/scheduling.md
Due: prettier --write

test: add missing tests, fix coverage gaps and failing tests
  app/api/v1/admin/orchestration/hooks/[id]/deliveries/route.ts
  app/api/v1/admin/orchestration/webhooks/[id]/deliveries/route.ts
  app/api/v1/admin/orchestration/webhooks/[id]/route.ts
  app/api/v1/admin/orchestration/webhooks/deliveries/[id]/retry/route.ts
  app/api/v1/webhooks/trigger/[slug]/route.ts
  components/admin/orchestration/webhook-deliveries.tsx
  components/admin/orchestration/webhook-form.tsx
  tests/unit/app/api/v1/admin/orchestration/hooks/[id]/rotate-secret/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/[id]/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/webhooks/[id]/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/webhooks/deliveries/retry/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/webhooks/deliveries/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/webhooks/test/route.test.ts
  tests/unit/app/api/v1/users/me/preferences/route.test.ts
  tests/unit/app/api/v1/webhooks/trigger/route.test.ts
  tests/unit/components/admin/orchestration/webhook-deliveries.test.tsx
  tests/unit/components/admin/orchestration/webhook-form.test.tsx
  tests/unit/lib/orchestration/hooks/serialize.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: add webhook subscription createdBy index migration
  prisma/migrations/20260427184849_add_webhook_subscription_createdby_index/migration.sql
  prisma/schema.prisma
Due: none

fix: semantic validator, engine deadlock, budget validation, timeout cleanup
  app/api/v1/admin/orchestration/workflows/[id]/execute-stream/route.ts
  lib/orchestration/engine/orchestration-engine.ts
  lib/orchestration/workflows/semantic-validator.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add block editors for agent_call and send_notification step types
  components/admin/orchestration/workflow-builder/block-config-panel.tsx
  components/admin/orchestration/workflow-builder/block-editors/agent-call-editor.tsx
  components/admin/orchestration/workflow-builder/block-editors/index.ts
  components/admin/orchestration/workflow-builder/block-editors/notification-editor.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: catch P2002 unique constraint race in save-as-template slug generation
  app/api/v1/admin/orchestration/workflows/[id]/save-as-template/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix step type count (15 not 12) and template count (9 not 8) in workflows.md
  .context/orchestration/workflows.md
Due: prettier --write

fix: add agent_call and send_notification to FE extra-checks
  components/admin/orchestration/workflow-builder/extra-checks.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: rewrite orchestration-workflows-guide with accurate data
  .context/admin/orchestration-workflows-guide.md
Due: prettier --write

fix: add rate limiting to 5 unprotected workflow GET routes
  app/api/v1/admin/orchestration/workflows/[id]/definition-history/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/execute-stream/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/route.ts
  app/api/v1/admin/orchestration/workflows/route.ts
  app/api/v1/admin/orchestration/workflows/templates/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: add audit logging to 5 unaudited workflow mutation routes
  app/api/v1/admin/orchestration/workflows/[id]/definition-revert/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/save-as-template/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/schedules/[scheduleId]/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/schedules/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: validate workflow step type against KNOWN_STEP_TYPES enum
  lib/validations/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix evaluate defaults, add execute-stream endpoint, update error code lists
  .context/admin/workflow-builder.md
  .context/api/orchestration-endpoints.md
Due: prettier --write

fix: strengthen workflow validation — history schema, route branches, schedule guard, config schemas
  app/api/v1/admin/orchestration/workflows/[id]/definition-revert/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/route.ts
  app/api/v1/admin/orchestration/workflows/[id]/schedules/route.ts
  lib/orchestration/workflows/validator.ts
  lib/validations/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Path conditions:
  eslint --fix --cache --cache-location .next/cache/eslint/: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
