Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(hooks): validate registry action + payload with Zod
  lib/orchestration/hooks/registry.ts
  lib/orchestration/hooks/types.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(retention): prune AiEventHookDelivery alongside webhooks
  lib/orchestration/retention.ts
  tests/integration/api/v1/admin/orchestration/maintenance.tick.test.ts
  tests/unit/app/api/v1/admin/orchestration/maintenance/tick/route.test.ts
  tests/unit/lib/orchestration/retention.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(orchestration): document hook delivery retention
  .context/orchestration/hooks.md
  .context/orchestration/scheduling.md
Due: prettier --write

test(orchestration): cover schema guard in hooks registry
  tests/unit/lib/orchestration/hooks/registry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(hooks): add AiEventHook.secret column for HMAC signing
  prisma/migrations/20260423140111_add_event_hook_secret/migration.sql
  prisma/schema.prisma
Due: none

feat(hooks): HMAC-sign webhook bodies when AiEventHook.secret is set
  lib/orchestration/hooks/registry.ts
  lib/orchestration/hooks/signing.ts
  tests/unit/lib/orchestration/hooks/registry.test.ts
  tests/unit/lib/orchestration/hooks/signing.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(hooks): admin endpoint to rotate/clear hook signing secrets
  app/api/v1/admin/orchestration/hooks/[id]/rotate-secret/route.ts
  app/api/v1/admin/orchestration/hooks/[id]/route.ts
  app/api/v1/admin/orchestration/hooks/route.ts
  lib/orchestration/hooks/serialize.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/[id]/rotate-secret/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(hooks): document HMAC signing, secret rotation, and receiver verification
  .context/orchestration/hooks.md
Due: prettier --write

test(hooks): apply test-review findings for HMAC signing branch
  tests/unit/app/api/v1/admin/orchestration/hooks/[id]/rotate-secret/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/route.test.ts
  tests/unit/lib/orchestration/hooks/registry.test.ts
  tests/unit/lib/orchestration/hooks/signing.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(hooks): prevent custom headers from overriding HMAC signing headers
  .context/orchestration/hooks.md
  app/api/v1/admin/orchestration/hooks/[id]/route.ts
  app/api/v1/admin/orchestration/hooks/route.ts
  lib/orchestration/hooks/registry.ts
  lib/orchestration/hooks/types.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/route.test.ts
  tests/unit/lib/orchestration/hooks/registry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore(lint): enforce @/ alias via no-restricted-imports + sweep barrels
  CLAUDE.md
  components/status/index.ts
  eslint.config.mjs
  lib/analytics/analytics-provider.tsx
  lib/analytics/events/index.ts
  lib/analytics/index.ts
  lib/analytics/providers/types.ts
  lib/consent/index.ts
  lib/monitoring/index.ts
  lib/orchestration/capabilities/base-capability.ts
  lib/orchestration/engine/executors/index.ts
  lib/orchestration/evaluations/index.ts
  lib/orchestration/llm/provider.ts
  lib/orchestration/workflows/index.ts
  lib/security/index.ts
  prisma/seeds/data/templates/index.ts
  types/index.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore(security): silence ioredis "Module not found" warning in dev
  lib/security/rate-limit-stores/redis.ts
  next.config.js
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(audit-log): fix flaky pagination tests with semantic queries
  components/admin/orchestration/audit-log/audit-log-view.tsx
  tests/unit/components/admin/orchestration/audit-log/audit-log-view.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(security): keep ioredis import specifier literal so vitest alias works
  lib/security/rate-limit-stores/redis.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(testing): add codebase-wide test triage plan
  .context/testing/triage-plan.md
Due: prettier --write

fix: complete version system repair and alignment audit for orchestration agents
  .context/admin/agent-form.md
  .context/admin/orchestration-agents.md
  .context/api/orchestration-endpoints.md
  .context/orchestration/admin-api.md
  .context/orchestration/agent-visibility.md
  app/api/v1/admin/orchestration/agents/[id]/capabilities/[capId]/route.ts
  app/api/v1/admin/orchestration/agents/[id]/capabilities/route.ts
  app/api/v1/admin/orchestration/agents/[id]/clone/route.ts
  app/api/v1/admin/orchestration/agents/[id]/embed-tokens/[tokenId]/route.ts
  app/api/v1/admin/orchestration/agents/[id]/embed-tokens/route.ts
  app/api/v1/admin/orchestration/agents/[id]/instructions-revert/route.ts
  app/api/v1/admin/orchestration/agents/[id]/invite-tokens/[tokenId]/route.ts
  app/api/v1/admin/orchestration/agents/[id]/invite-tokens/route.ts
  app/api/v1/admin/orchestration/agents/[id]/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/[versionId]/restore/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/[versionId]/route.ts
  app/api/v1/admin/orchestration/agents/export/route.ts
  app/api/v1/admin/orchestration/agents/import/route.ts
  lib/validations/orchestration.ts
  tests/integration/api/v1/admin/orchestration/agent-version-restore.test.ts
  tests/integration/api/v1/admin/orchestration/agents.export-import-roundtrip.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.capabilities.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.clone.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.instructions-revert.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.test.ts
  tests/integration/api/v1/admin/orchestration/agents.import.test.ts
  tests/integration/api/v1/admin/orchestration/agents.invite-tokens.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/[id]/versions/[versionId]/restore/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/invite-tokens/invite-tokens.route.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/versions/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: address functional bugs and edge cases across agents page (second pass)
  .context/admin/agent-form.md
  .context/admin/orchestration-agents.md
  app/api/v1/admin/orchestration/agents/[id]/instructions-revert/route.ts
  app/api/v1/admin/orchestration/agents/[id]/route.ts
  app/api/v1/admin/orchestration/agents/import/route.ts
  components/admin/orchestration/agent-capabilities-tab.tsx
  components/admin/orchestration/agent-comparison-view.tsx
  components/admin/orchestration/agent-invite-tokens-tab.tsx
  components/admin/orchestration/agents-table.tsx
  components/admin/orchestration/agents/embed-config-panel.tsx
  tests/integration/api/v1/admin/orchestration/agents.id.instructions-revert.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.test.ts
  tests/integration/api/v1/admin/orchestration/agents.import.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/agent-system-protection.route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: third-pass agents page assessment — 10 functional and edge-case fixes
  .context/admin/agent-form.md
  .context/admin/orchestration-agents.md
  app/api/v1/admin/orchestration/agents/[id]/clone/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/[versionId]/restore/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/route.ts
  app/api/v1/admin/orchestration/agents/export/route.ts
  components/admin/orchestration/agent-form.tsx
  components/admin/orchestration/agent-version-history-tab.tsx
  components/admin/orchestration/agents/embed-config-panel.tsx
  components/admin/orchestration/duplicate-agent-dialog.tsx
  components/admin/orchestration/import-agents-dialog.tsx
  lib/api/endpoints.ts
  tests/integration/api/v1/admin/orchestration/agents.export.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.clone.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: fourth-pass agents page assessment — validation, rate limiting, and consistency fixes
  .context/admin/agent-form.md
  app/api/v1/admin/orchestration/agents/[id]/budget/route.ts
  app/api/v1/admin/orchestration/agents/[id]/embed-tokens/[tokenId]/route.ts
  app/api/v1/admin/orchestration/agents/[id]/embed-tokens/route.ts
  app/api/v1/admin/orchestration/agents/[id]/instructions-history/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/route.ts
  app/api/v1/admin/orchestration/agents/export/route.ts
  components/admin/orchestration/agent-comparison-view.tsx
  components/admin/orchestration/agents/embed-config-panel.tsx
  lib/validations/orchestration.ts
  tests/integration/api/v1/admin/orchestration/agents.export.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/embed-tokens/[tokenId]/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/embed-tokens/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: fifth-pass agents page assessment — 21 fixes across functional, consistency, and accessibility
  app/admin/orchestration/agents/[id]/page.tsx
  app/api/v1/admin/orchestration/agents/[id]/budget/route.ts
  app/api/v1/admin/orchestration/agents/[id]/instructions-revert/route.ts
  app/api/v1/admin/orchestration/agents/[id]/invite-tokens/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/route.ts
  app/api/v1/admin/orchestration/agents/compare/route.ts
  components/admin/orchestration/agent-capabilities-tab.tsx
  components/admin/orchestration/agent-form.tsx
  components/admin/orchestration/agent-invite-tokens-tab.tsx
  components/admin/orchestration/agent-test-chat.tsx
  components/admin/orchestration/agents-table.tsx
  components/admin/orchestration/agents/embed-config-panel.tsx
  components/admin/orchestration/duplicate-agent-dialog.tsx
  lib/orchestration/backup/exporter.ts
  lib/orchestration/backup/importer.ts
  lib/orchestration/backup/schema.ts
  lib/validations/orchestration.ts
  prisma/schema.prisma
  tests/integration/api/v1/admin/orchestration/agents.compare.test.ts
  tests/integration/api/v1/admin/orchestration/agents.id.budget.test.ts
  tests/integration/api/v1/admin/orchestration/agents.invite-tokens.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/invite-tokens/invite-tokens.route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: sixth-pass agents page assessment — rate limits, schema, dedup, and UI clarity
  app/admin/orchestration/agents/[id]/page.tsx
  app/admin/orchestration/agents/compare/page.tsx
  app/admin/orchestration/agents/new/page.tsx
  app/api/v1/admin/orchestration/agents/[id]/route.ts
  app/api/v1/admin/orchestration/agents/[id]/versions/[versionId]/route.ts
  app/api/v1/admin/orchestration/agents/route.ts
  components/admin/orchestration/agent-form.tsx
  components/admin/orchestration/agents-table.tsx
  lib/orchestration/prefetch-helpers.ts
  lib/validations/orchestration.ts
  tests/unit/components/admin/orchestration/agent-form-model.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: seventh-pass agents page assessment — 8 fixes across tabs, dialogs, and supporting views
  components/admin/orchestration/agent-comparison-view.tsx
  components/admin/orchestration/agent-invite-tokens-tab.tsx
  components/admin/orchestration/agent-test-chat.tsx
  components/admin/orchestration/agents/embed-config-panel.tsx
  components/admin/orchestration/cli-authoring-hint.tsx
  components/admin/orchestration/import-agents-dialog.tsx
  tests/unit/components/admin/orchestration/agent-comparison-view.test.tsx
  tests/unit/components/admin/orchestration/agent-test-chat.test.tsx
  tests/unit/lib/validations/orchestration.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: triage pass — orchestration test remediation (135-file scan + 19-file fixes)
  .claude/testing/remediation-ledger.md
  tests/unit/components/admin/orchestration/agent-version-history-tab.test.tsx
  tests/unit/components/admin/orchestration/analytics/analytics-view.test.tsx
  tests/unit/components/admin/orchestration/capability-form-basic.test.tsx
  tests/unit/components/admin/orchestration/instructions-history-panel.test.tsx
  tests/unit/components/admin/orchestration/knowledge/document-upload-zone.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/components/admin/orchestration/knowledge/pdf-preview-modal.test.tsx
  tests/unit/components/admin/orchestration/learn/mermaid-diagram.test.tsx
  tests/unit/components/admin/orchestration/setup-wizard-step-intro.test.tsx
  tests/unit/components/admin/orchestration/webhook-form.test.tsx
  tests/unit/components/admin/orchestration/webhooks-table.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-config-panel.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/guard-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/llm-call-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/execution-panel.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/template-types.test.ts
  tests/unit/components/admin/orchestration/workflow-builder/workflow-details-dialog.test.tsx
  tests/unit/components/admin/orchestration/workflows-table.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: remove incorrect escapeHtml from embed snippet generation
  components/admin/orchestration/agents/embed-config-panel.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: remove non-existent fields from analytics-view test mock data
  tests/unit/components/admin/orchestration/analytics/analytics-view.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(pre-pr): fill coverage gaps and fix doc inconsistencies
  .context/api/orchestration-endpoints.md
  .context/orchestration/admin-api.md
  tests/unit/app/admin/orchestration/agents/compare/page.test.tsx
  tests/unit/lib/orchestration/prefetch-helpers.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: address three code-review issues from PR #86
  app/api/v1/admin/orchestration/agents/[id]/route.ts
  app/api/v1/admin/orchestration/agents/export/route.ts
  lib/orchestration/backup/importer.ts
  tests/unit/app/api/v1/admin/orchestration/agents/agent-system-protection.route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: add missing fields to export test fixture
  tests/integration/api/v1/admin/orchestration/agents.export.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: cap parallel worktree agents at 3 in /test-triage skill
  .claude/commands/test-triage.md
Due: prettier --write

feat: add autonomous multi-agent orchestration step type
  .context/orchestration/autonomous-orchestration.md
  CLAUDE.md
  app/admin/orchestration/workflows/[id]/page.tsx
  app/admin/orchestration/workflows/new/page.tsx
  components/admin/orchestration/workflow-builder/block-config-panel.tsx
  components/admin/orchestration/workflow-builder/block-editors/index.ts
  components/admin/orchestration/workflow-builder/block-editors/orchestrator-editor.tsx
  components/admin/orchestration/workflow-builder/builder-toolbar.tsx
  components/admin/orchestration/workflow-builder/extra-checks.ts
  components/admin/orchestration/workflow-builder/pattern-palette.tsx
  components/admin/orchestration/workflow-builder/workflow-builder.tsx
  lib/orchestration/engine/executors/index.ts
  lib/orchestration/engine/executors/orchestrator.ts
  lib/orchestration/engine/step-registry.ts
  lib/validations/orchestration.ts
  prisma/seeds/004-builtin-templates.ts
  prisma/seeds/data/templates/autonomous-research.ts
  prisma/seeds/data/templates/index.ts
  tests/integration/app/admin/orchestration/workflows/new-page.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-config-panel.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/orchestrator-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/pattern-palette.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/workflow-builder.test.tsx
  tests/unit/lib/orchestration/engine/executors/orchestrator.test.ts
  tests/unit/lib/orchestration/engine/orchestrator-workflow.test.ts
  tests/unit/lib/orchestration/engine/step-registry.test.ts
  tests/unit/lib/orchestration/workflows/templates/index.test.ts
  tests/unit/lib/validations/orchestrator-config.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: show usage counts on pattern palette blocks
  components/admin/orchestration/workflow-builder/pattern-palette.tsx
  components/admin/orchestration/workflow-builder/workflow-builder.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: address three code-review issues from PR #86
  .context/admin/workflow-builder.md
  .context/orchestration/engine.md
  tests/unit/components/admin/orchestration/workflow-builder/block-config-panel.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/orchestrator-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/pattern-palette.test.tsx
  tests/unit/lib/orchestration/engine/executors/orchestrator.test.ts
  tests/unit/lib/orchestration/engine/step-registry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: reassign plannerResult after JSON retry to fix round-level cost attribution
  lib/orchestration/engine/executors/orchestrator.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: add scan concurrency cap and test-fix concurrency section
  .claude/commands/test-fix.md
  .claude/commands/test-triage.md
Due: prettier --write

fix: align analytics page — schema, service accuracy, and UI improvements
  components/admin/orchestration/analytics/analytics-view.tsx
  lib/orchestration/analytics/analytics-service.ts
  lib/orchestration/analytics/date-range.ts
  lib/validations/orchestration.ts
  tests/unit/app/api/v1/admin/orchestration/analytics/analytics.route.test.ts
  tests/unit/components/admin/orchestration/analytics/analytics-view.test.tsx
  tests/unit/lib/orchestration/analytics/analytics-service.test.ts
  tests/unit/lib/orchestration/analytics/date-range.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: recentNegative timestamp bug and sync analytics docs with code
  .context/admin/orchestration-analytics.md
  .context/orchestration/analytics.md
  lib/orchestration/analytics/analytics-service.ts
  tests/unit/lib/orchestration/analytics/analytics-service.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: bump Path A worktree agent cap from 3 to 5
  .claude/commands/test-fix.md
  .claude/commands/test-triage.md
Due: prettier --write

test(security): triage lib/security — all 9 files graded Clean
  .claude/testing/remediation-ledger.md
  __mocks__/ioredis.ts
  lib/security/rate-limit.ts
  tests/unit/lib/security/cors.test.ts
  tests/unit/lib/security/proxy.test.ts
  tests/unit/lib/security/rate-limit-stores.test.ts
  tests/unit/lib/security/rate-limit.test.ts
  tests/unit/lib/security/verification-email-rate-limit.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix audit-log documentation drift — align with actual codebase
  .context/admin/orchestration-audit-log.md
Due: prettier --write

Path conditions:
  eslint --fix --cache --cache-location .next/cache/eslint/: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
