Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": [
    "eslint --fix --cache --cache-location .next/cache/eslint/",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

refactor(orchestration): drop in-box output labels in favour of edge labels
  components/admin/orchestration/workflow-builder/box-sizing.ts
  components/admin/orchestration/workflow-builder/node-types/pattern-node.tsx
  components/admin/orchestration/workflow-builder/workflow-mappers.ts
  tests/unit/components/admin/orchestration/workflow-builder/pattern-node.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/workflow-mappers.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(orchestration): mark chat.turn span as error on caught ChatError
  lib/orchestration/chat/streaming-handler.ts
  lib/orchestration/engine/orchestration-engine.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): close coverage gaps from /pre-pr findings
  tests/unit/components/admin/orchestration/workflow-builder/edge-types/retry-edge.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/execution-panel.test.tsx
  tests/unit/components/admin/orchestration/workflows-table.test.tsx
  tests/unit/lib/orchestration/engine/llm-runner.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(orchestration): align retry / edge-layout docs with current code
  .context/admin/workflow-builder.md
  .context/orchestration/engine.md
Due: prettier --write

feat(orchestration): OTEL adapter + cost-log trace correlation
  lib/orchestration/capabilities/dispatcher.ts
  lib/orchestration/chat/streaming-handler.ts
  lib/orchestration/chat/summarizer.ts
  lib/orchestration/engine/executors/agent-call.ts
  lib/orchestration/engine/llm-runner.ts
  lib/orchestration/llm/cost-tracker.ts
  lib/orchestration/tracing/index.ts
  lib/orchestration/tracing/otel-adapter.ts
  lib/orchestration/tracing/otel-bootstrap.ts
  next.config.js
  prisma/migrations/20260505141318_add_cost_log_trace_correlation/migration.sql
  prisma/schema.prisma
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): unit tests for tracer module foundations
  tests/unit/lib/orchestration/tracing/attributes.test.ts
  tests/unit/lib/orchestration/tracing/noop-tracer.test.ts
  tests/unit/lib/orchestration/tracing/registry.test.ts
  tests/unit/lib/orchestration/tracing/with-span.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): unit tests for OTEL adapter + bootstrap
  tests/unit/lib/orchestration/tracing/otel-adapter.test.ts
  tests/unit/lib/orchestration/tracing/otel-bootstrap.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): integration tests for OTEL span emission
  tests/helpers/mock-tracer.ts
  tests/integration/orchestration/cost-log-trace-correlation.test.ts
  tests/integration/orchestration/otel-chat-trace.test.ts
  tests/integration/orchestration/otel-engine-trace.test.ts
  tests/integration/orchestration/otel-resilience.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(orchestration): tracing module + OTEL plug-in
  .context/orchestration/chat.md
  .context/orchestration/engine.md
  .context/orchestration/meta/improvement-priorities.md
  .context/orchestration/meta/maturity-analysis.md
  .context/orchestration/tracing.md
  CLAUDE.md
Due: prettier --write

docs(orchestration): update maturity-analysis TL;DR for OTEL ship
  .context/orchestration/meta/maturity-analysis.md
Due: prettier --write

content(learn): rename TL;DR to Summary and de-duplicate Definition openers
  prisma/seeds/data/chunks/chunks.json
Due: prettier --write

content(learn): expand "SWE" abbreviation to "Software Engineering"
  prisma/seeds/data/chunks/chunks.json
Due: prettier --write

content(learn): add real-world examples to all 21 pattern Summaries
  prisma/seeds/data/chunks/chunks.json
Due: prettier --write

content(learn): enrich Software Engineering Parallels with broader analogies
  prisma/seeds/data/chunks/chunks.json
Due: prettier --write

fix(learn): align section filters with renamed Summary / SWE titles
  app/admin/orchestration/learn/patterns/[number]/page.tsx
  components/admin/orchestration/workflow-builder/pattern-learn-more-dialog.tsx
  lib/orchestration/knowledge/search.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(learn): remove "N sections" line from pattern cards on learning homepage
  components/admin/orchestration/learn/pattern-card-grid.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(learn): demote overview chunk to a labelled subtitle, drop the hero card
  app/admin/orchestration/learn/patterns/[number]/page.tsx
  components/admin/orchestration/workflow-builder/pattern-learn-more-dialog.tsx
  lib/orchestration/utils/parse-overview-content.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(learn): credit Antonio Gullí's "Agentic Design Patterns" everywhere
  README.md
  app/admin/orchestration/learn/page.tsx
  app/admin/orchestration/learn/patterns/[number]/page.tsx
  components/admin/orchestration/knowledge/manage-tab.tsx
  components/admin/orchestration/workflow-builder/pattern-learn-more-dialog.tsx
  lib/orchestration/knowledge/attribution.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): apply all 14 findings from /test-review
  tests/helpers/mock-tracer.ts
  tests/integration/orchestration/otel-chat-trace.test.ts
  tests/integration/orchestration/otel-resilience.test.ts
  tests/unit/lib/orchestration/capabilities/dispatcher.test.ts
  tests/unit/lib/orchestration/engine/executors/agent-call.test.ts
  tests/unit/lib/orchestration/llm/cost-tracker.test.ts
  tests/unit/lib/orchestration/tracing/noop-tracer.test.ts
  tests/unit/lib/orchestration/tracing/otel-adapter.test.ts
  tests/unit/lib/orchestration/tracing/registry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(learn): repair stale assertions for redesigned pattern detail UI
  tests/integration/app/admin/orchestration/learn/pattern-detail.test.tsx
  tests/unit/app/admin/orchestration/learn/patterns/[number]/page.test.tsx
  tests/unit/components/admin/orchestration/learn/pattern-card-grid.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/pattern-learn-more-dialog.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(learn): cover new helpers, branches, and modal triggers; fix doc
  .context/admin/orchestration-learn.md
  tests/unit/app/admin/orchestration/learn/page.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/pattern-learn-more-dialog.test.tsx
  tests/unit/lib/orchestration/knowledge/attribution.test.ts
  tests/unit/lib/orchestration/utils/parse-overview-content.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): close branch coverage gaps flagged by /pre-pr
  tests/unit/lib/orchestration/evaluations/complete-session.test.ts
  tests/unit/lib/orchestration/tracing/with-span.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(orchestration): reframe OTLP-only stance as curation choice
  .context/orchestration/meta/maturity-analysis.md
Due: prettier --write

docs(environment): document OTEL env vars in .env.example + overview
  .context/environment/overview.md
  .env.example
Due: prettier --write

feat(orchestration): full OTEL parent/child propagation across async generators
  .context/orchestration/tracing.md
  lib/orchestration/chat/streaming-handler.ts
  lib/orchestration/engine/orchestration-engine.ts
  lib/orchestration/tracing/index.ts
  lib/orchestration/tracing/noop-tracer.ts
  lib/orchestration/tracing/otel-adapter.ts
  lib/orchestration/tracing/tracer.ts
  lib/orchestration/tracing/with-span.ts
  tests/helpers/mock-tracer.ts
  tests/integration/orchestration/otel-chat-trace.test.ts
  tests/integration/orchestration/otel-engine-trace.test.ts
  tests/unit/lib/orchestration/tracing/otel-adapter.test.ts
  tests/unit/lib/orchestration/tracing/registry.test.ts
  tests/unit/lib/orchestration/tracing/with-span.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orchestration): unit tests for withSpanGenerator + ALS regression for MockTracer; fix consumer.throw() resource leak
  lib/orchestration/tracing/with-span.ts
  tests/unit/lib/orchestration/tracing/mock-tracer.test.ts
  tests/unit/lib/orchestration/tracing/with-span.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(orchestration): update meta docs to reflect shipped OTEL plug-in + parent/child propagation
  .context/orchestration/meta/architectural-decisions.md
  .context/orchestration/meta/improvement-priorities.md
  .context/orchestration/meta/maturity-analysis.md
  .context/orchestration/tracing.md
Due: prettier --write

test(orchestration): apply all 22 findings from /test-review
  tests/integration/orchestration/cost-log-trace-correlation.test.ts
  tests/integration/orchestration/otel-chat-trace.test.ts
  tests/integration/orchestration/otel-engine-trace.test.ts
  tests/unit/lib/orchestration/engine/executors/agent-call.test.ts
  tests/unit/lib/orchestration/engine/llm-runner.test.ts
  tests/unit/lib/orchestration/evaluations/complete-session.test.ts
  tests/unit/lib/orchestration/evaluations/score-response.test.ts
  tests/unit/lib/orchestration/llm/cost-tracker.test.ts
  tests/unit/lib/orchestration/tracing/mock-tracer.test.ts
  tests/unit/lib/orchestration/tracing/noop-tracer.test.ts
  tests/unit/lib/orchestration/tracing/otel-adapter.test.ts
  tests/unit/lib/orchestration/tracing/with-span.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): channel-specific approval token routes + CORS
  app/api/v1/orchestration/approvals/[id]/approve/chat/route.ts
  app/api/v1/orchestration/approvals/[id]/approve/embed/route.ts
  app/api/v1/orchestration/approvals/[id]/approve/route.ts
  app/api/v1/orchestration/approvals/[id]/reject/chat/route.ts
  app/api/v1/orchestration/approvals/[id]/reject/embed/route.ts
  app/api/v1/orchestration/approvals/[id]/reject/route.ts
  lib/orchestration/approval-route-helpers.ts
  lib/orchestration/settings.ts
  prisma/migrations/20260506063640_add_embed_allowed_origins/migration.sql
  prisma/schema.prisma
  tests/unit/app/api/v1/orchestration/approvals/channel-routes.test.ts
  tests/unit/components/admin/orchestration/costs/costs-view.test.tsx
  tests/unit/components/admin/orchestration/costs/orchestration-settings-form.test.tsx
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: gitignore the Claude Code harness scheduler lock file
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

feat(orchestration): add run_workflow capability for chat-triggered workflows
  lib/orchestration/capabilities/built-in/run-workflow.ts
  lib/orchestration/capabilities/registry.ts
  prisma/seeds/012-run-workflow.ts
  tests/unit/lib/orchestration/capabilities/built-in/run-workflow.test.ts
  tests/unit/lib/orchestration/capabilities/registry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(embed): in-widget approval card + public token-auth status route
  app/api/v1/embed/widget.js/route.ts
  app/api/v1/orchestration/approvals/[id]/status/route.ts
  lib/api/endpoints.ts
  tests/unit/app/api/v1/embed/widget.test.ts
  tests/unit/app/api/v1/orchestration/approvals/status/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(chat): emit approval_required SSE event when run_workflow pauses
  lib/orchestration/chat/streaming-handler.ts
  lib/validations/orchestration.ts
  tests/unit/lib/orchestration/chat/streaming-handler.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(chat): admin chat ApprovalCard for paused workflows
  .claude/scheduled_tasks.lock
  components/admin/orchestration/chat/approval-card.tsx
  components/admin/orchestration/chat/chat-interface.tsx
  lib/api/endpoints.ts
  tests/unit/components/admin/orchestration/chat/approval-card.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(chat): handle run_workflow pause in parallel-tool path + UX polish
  .context/admin/orchestration-approvals.md
  .context/orchestration/chat.md
  app/api/v1/embed/widget.js/route.ts
  components/admin/orchestration/chat/approval-card.tsx
  lib/orchestration/chat/streaming-handler.ts
  tests/unit/app/api/v1/orchestration/approvals/channel-routes.test.ts
  tests/unit/components/admin/orchestration/chat/approval-card.test.tsx
  tests/unit/lib/orchestration/capabilities/built-in/run-workflow.test.ts
  tests/unit/lib/orchestration/chat/streaming-handler.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(hosting): expand per-platform hosting requirements
  .context/orchestration/meta/hosting-requirements.md
Due: prettier --write

fix(orchestration): trigger engine resumption after chat/embed approvals
  .context/admin/orchestration-approvals.md
  .context/orchestration/chat.md
  app/api/v1/embed/widget.js/route.ts
  app/api/v1/orchestration/approvals/[id]/approve/chat/route.ts
  app/api/v1/orchestration/approvals/[id]/approve/embed/route.ts
  components/admin/orchestration/chat/approval-card.tsx
  lib/orchestration/approval-route-helpers.ts
  lib/orchestration/scheduling/index.ts
  lib/orchestration/scheduling/scheduler.ts
  tests/unit/app/api/v1/orchestration/approvals/channel-routes.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(hosting): clarify cron wiring with /maintenance/tick as preferred
  .context/orchestration/meta/hosting-requirements.md
Due: prettier --write

docs(orchestration): document in-chat approval flow across .context/
  .context/admin/orchestration-approvals.md
  .context/orchestration/capabilities.md
  .context/orchestration/chat.md
  .context/orchestration/embed.md
  .context/orchestration/meta/improvement-priorities.md
  .context/orchestration/recipes/in-chat-approval.md
  .context/orchestration/recipes/index.md
Due: prettier --write

fix(chat): empty-content history blocker, AgentTestChat surface, state-machine wording
  .context/orchestration/chat.md
  app/api/v1/embed/widget.js/route.ts
  components/admin/orchestration/agent-test-chat.tsx
  components/admin/orchestration/chat/approval-card.tsx
  components/admin/orchestration/chat/chat-interface.tsx
  lib/orchestration/chat/message-builder.ts
  lib/orchestration/scheduling/scheduler.ts
  tests/unit/app/api/v1/orchestration/approvals/channel-routes.test.ts
  tests/unit/components/admin/orchestration/agent-test-chat.test.tsx
  tests/unit/components/admin/orchestration/chat/approval-card.test.tsx
  tests/unit/components/admin/orchestration/chat/chat-interface.test.tsx
  tests/unit/lib/orchestration/chat/message-builder.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write
