Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add deprecation detection to provider model audit workflow
  .context/orchestration/provider-selection-matrix.md
  lib/orchestration/capabilities/built-in/deactivate-provider-models.ts
  lib/orchestration/capabilities/registry.ts
  prisma/seeds/010-model-auditor.ts
  prisma/seeds/data/templates/provider-model-audit.ts
  tests/unit/lib/orchestration/capabilities/built-in/deactivate-provider-models.test.ts
  tests/unit/lib/orchestration/capabilities/registry.test.ts
  tests/unit/lib/orchestration/workflows/templates/index.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: address pre-PR findings — coverage gaps and doc accuracy
  .context/admin/orchestration-provider-models.md
  tests/unit/components/admin/orchestration/audit-models-dialog.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/validation-summary-panel.test.tsx
  tests/unit/lib/orchestration/engine/executors/tool-call.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: add commercial proposition summary to orchestration meta
  .context/orchestration/meta/commercial-proposition.md
Due: prettier --write

fix: align audit prompt output shapes with capability Zod schemas
  components/admin/orchestration/audit-models-dialog.tsx
  prisma/seeds/data/templates/provider-model-audit.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: handle empty audit categories in approval payload (C1) and metadata clobber (C2)
  lib/orchestration/capabilities/built-in/add-provider-models.ts
  lib/orchestration/capabilities/built-in/apply-audit-changes.ts
  lib/orchestration/capabilities/built-in/deactivate-provider-models.ts
  prisma/seeds/data/templates/provider-model-audit.ts
  tests/unit/lib/orchestration/capabilities/built-in/add-provider-models.test.ts
  tests/unit/lib/orchestration/capabilities/built-in/apply-audit-changes.test.ts
  tests/unit/lib/orchestration/capabilities/built-in/deactivate-provider-models.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: scoring logic, validation, and type safety in provider selection matrix
  lib/orchestration/llm/provider-selector.ts
  lib/validations/orchestration.ts
  tests/unit/lib/orchestration/llm/provider-selector.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: doc accuracy, add 11 missing FieldHelp popovers, UI edge cases
  .context/admin/orchestration-provider-models.md
  components/admin/orchestration/audit-models-dialog.tsx
  components/admin/orchestration/provider-model-form.tsx
  components/admin/orchestration/provider-models-matrix.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: stale seeds, dead code cleanup, batched writes, rate limiting
  app/api/v1/admin/orchestration/provider-models/recommend/route.ts
  app/api/v1/admin/orchestration/provider-models/route.ts
  lib/orchestration/capabilities/built-in/apply-audit-changes.ts
  lib/orchestration/llm/embedding-models.ts
  lib/orchestration/llm/provider-selector.ts
  prisma/seeds/009-provider-models.ts
  tests/integration/api/v1/admin/orchestration/provider-models.recommend.test.ts
  tests/integration/api/v1/admin/orchestration/provider-models.test.ts
  tests/unit/lib/orchestration/capabilities/built-in/apply-audit-changes.test.ts
  tests/unit/lib/orchestration/llm/embedding-models.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add isSystem to workflows, reclassify Provider Model Audit as system workflow
  app/api/v1/admin/orchestration/workflows/[id]/route.ts
  app/api/v1/admin/orchestration/workflows/route.ts
  components/admin/orchestration/workflows-table.tsx
  lib/validations/orchestration.ts
  prisma/migrations/20260430145048_add_workflow_is_system/migration.sql
  prisma/schema.prisma
  prisma/seeds/004-builtin-templates.ts
  prisma/seeds/010-model-auditor.ts
  prisma/seeds/data/templates/index.ts
  tests/unit/components/admin/orchestration/workflows-table.test.tsx
  tests/unit/lib/orchestration/workflows/templates/index.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: pre-PR findings — branch coverage and doc gap
  .context/orchestration/provider-selection-matrix.md
  tests/unit/lib/orchestration/capabilities/built-in/deactivate-provider-models.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add bounded retry loops to workflow engine
  components/admin/orchestration/workflow-builder/block-editors/guard-editor.tsx
  components/admin/orchestration/workflow-builder/edge-types/index.ts
  components/admin/orchestration/workflow-builder/edge-types/retry-edge.tsx
  components/admin/orchestration/workflow-builder/extra-checks.ts
  components/admin/orchestration/workflow-builder/workflow-canvas.tsx
  components/admin/orchestration/workflow-builder/workflow-mappers.ts
  lib/orchestration/engine/events.ts
  lib/orchestration/engine/orchestration-engine.ts
  lib/orchestration/workflows/validator.ts
  lib/validations/orchestration.ts
  prisma/seeds/data/templates/provider-model-audit.ts
  tests/unit/components/admin/orchestration/workflow-builder/extra-checks.test.ts
  tests/unit/components/admin/orchestration/workflow-builder/workflow-mappers.test.ts
  tests/unit/lib/orchestration/workflows/validator.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: address pre-PR findings — coverage gaps, inDegree bug, doc updates
  .context/admin/workflow-builder.md
  .context/orchestration/engine.md
  .context/orchestration/workflows.md
  lib/orchestration/engine/orchestration-engine.ts
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/guard-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/edge-types/retry-edge.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/extra-checks.test.ts
  tests/unit/components/admin/orchestration/workflow-builder/workflow-builder.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/workflow-canvas.test.tsx
  tests/unit/lib/orchestration/engine/orchestration-engine.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: add workflow resource summary panel for workflow builder
  components/admin/orchestration/workflow-builder/workflow-resource-summary.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: surface workflow description in builder view for non-template workflows
  components/admin/orchestration/workflow-builder/workflow-builder.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat: enhance provider model audit with agent_call, external_call, and report
  prisma/seeds/010-model-auditor.ts
  prisma/seeds/data/templates/provider-model-audit.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: add provider model audit walkthrough guide
  .context/admin/orchestration-provider-audit-guide.md
  CLAUDE.md
Due: prettier --write

docs: update orchestration docs to reflect current scale
  .claude/docs/agent-orchestration.md
  .claude/skills/orchestration-workflow-builder/references/step-config-schemas.md
  .context/admin/orchestration.md
Due: prettier --write

fix: interpolate template variables in external_call URL
  lib/orchestration/engine/executors/external-call.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

refactor: remove tier/complexity system from learning section
  .context/admin/orchestration-learn.md
  components/admin/orchestration/learn/pattern-card-grid.tsx
  components/admin/orchestration/workflow-builder/pattern-coverage-dialog.tsx
  lib/orchestration/knowledge/search.ts
  prisma/seeds/006-quiz-master.ts
  prisma/seeds/data/chunks/chunks.json
  tests/unit/app/api/v1/admin/orchestration/knowledge/patterns/route.test.ts
  tests/unit/components/admin/orchestration/learn/learning-tabs-advisor.test.tsx
  tests/unit/components/admin/orchestration/learn/learning-tabs-quiz.test.tsx
  tests/unit/components/admin/orchestration/learn/learning-tabs.test.tsx
  tests/unit/components/admin/orchestration/learn/pattern-card-grid.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/pattern-coverage-dialog.test.tsx
  tests/unit/lib/orchestration/knowledge/search-patterns.test.ts
  tests/unit/lib/orchestration/knowledge/search.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add coverage for security-critical & core lib gaps (Sprint 1)
  .claude/skills/testing/gotchas.md
  tests/unit/app/api/auth/all-route.test.ts
  tests/unit/lib/admin/logs.test.ts
  tests/unit/lib/api/context.test.ts
  tests/unit/lib/auth/clear-session.test.ts
  tests/unit/lib/env.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: harden Sprint 1 assertions per /test-review findings
  tests/unit/app/api/auth/all-route.test.ts
  tests/unit/lib/api/context.test.ts
  tests/unit/lib/env.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: fix Wave 1 audit findings — capabilities count, route params, endpoint refs
  .context/admin/orchestration-capabilities-guide.md
  .context/api/orchestration-endpoints.md
  .context/orchestration/admin-api.md
  .context/orchestration/capabilities.md
Due: prettier --write

docs: fix Wave 2 audit findings — capability counts in skills, dashboard path
  .claude/skills/orchestration-capability-builder/SKILL.md
  .claude/skills/orchestration-capability-builder/gotchas.md
  .claude/skills/orchestration-solution-builder/SKILL.md
  .claude/skills/orchestration-solution-builder/gotchas.md
  .context/admin/orchestration-dashboard.md
Due: prettier --write

chore: ignore .claude/worktrees in eslint and git
  .gitignore
  eslint.config.mjs
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(knowledge): add searchVector tsvector column + GIN index
  prisma/migrations/20260501172919_add_knowledge_chunk_search_vector/migration.sql
  prisma/schema.prisma
Due: none

feat(knowledge): extend SearchConfig with hybridEnabled and bm25Weight
  lib/validations/orchestration.ts
  tests/unit/lib/validations/orchestration.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(knowledge): hybrid (BM25-flavoured + vector) search query path
  lib/orchestration/knowledge/search.ts
  package.json
  scripts/smoke/knowledge-hybrid-search.ts
  tests/unit/lib/orchestration/knowledge/search.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(admin): hybrid search controls in orchestration settings form
  components/admin/orchestration/settings-form.tsx
  tests/unit/components/admin/orchestration/settings-form.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(admin): three-segment score breakdown in knowledge Explore tab
  components/admin/orchestration/knowledge/explore-tab.tsx
  tests/unit/components/admin/orchestration/knowledge/explore-tab.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(knowledge): hybrid search documentation
  .context/admin/orchestration-knowledge-ui.md
  .context/admin/orchestration-settings.md
  .context/database/models.md
  .context/orchestration/knowledge.md
Due: prettier --write

test: apply /test-review findings on Sprint 2 simple-editors
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/human-approval-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/simple-editors.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: sprint 2 — workflow-builder block editor + agent detail coverage
  .claude/skills/testing/gotchas.md
  tests/unit/app/admin/orchestration/agents/[id]/page.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/guard-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/llm-call-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/rag-retrieve-editor.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/block-editors/simple-editors.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(knowledge): persist hybridEnabled when legacy weights are blank
  .context/admin/orchestration-settings.md
  components/admin/orchestration/settings-form.tsx
  lib/orchestration/knowledge/search.ts
  lib/validations/orchestration.ts
  tests/unit/components/admin/orchestration/settings-form.test.tsx
  tests/unit/lib/orchestration/knowledge/search.test.ts
  tests/unit/lib/validations/orchestration.test.ts
  types/orchestration.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(knowledge): align parseSearchConfig tests with optional fields
  tests/unit/lib/orchestration/settings.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(api): add lightweight execution status endpoint
  app/api/v1/admin/orchestration/executions/[id]/status/route.ts
  lib/api/endpoints.ts
  tests/integration/api/v1/admin/orchestration/executions.id.status.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(orchestration): emit workflow.execution.failed and repair row on engine crash
  lib/orchestration/hooks/types.ts
  lib/orchestration/scheduling/scheduler.ts
  tests/unit/lib/orchestration/scheduling/scheduler.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(api): make maintenance tick non-blocking on background tasks
  app/api/v1/admin/orchestration/maintenance/tick/route.ts
  tests/integration/api/v1/admin/orchestration/maintenance.tick.test.ts
  tests/unit/app/api/v1/admin/orchestration/maintenance/tick/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: cover status endpoint, workflow.execution.failed hook, and tick contract
  .context/api/orchestration-endpoints.md
  .context/orchestration/hooks.md
  .context/orchestration/meta/commercial-proposition.md
  .context/orchestration/scheduling.md
Due: prettier --write

docs+test: cover gaps from background-execution review
  .context/orchestration/admin-api.md
  .context/orchestration/engine.md
  .context/orchestration/resilience.md
  tests/unit/lib/api/endpoints.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(admin): live-poll execution status via /status endpoint
  .context/admin/orchestration-observability.md
  components/admin/orchestration/execution-detail-view.tsx
  lib/hooks/use-execution-status-poller.ts
  tests/unit/components/admin/orchestration/execution-detail-view.test.tsx
  tests/unit/lib/hooks/use-execution-status-poller.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Path conditions:
  eslint --fix --cache --cache-location .next/cache/eslint/: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
