Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(tenancy): an org can be created, suspended, exported and erased, and its members managed, without touching its members' other orgs
  app/api/v1/admin/orgs/[id]/export/route.ts
  app/api/v1/admin/orgs/[id]/route.ts
  app/api/v1/admin/orgs/route.ts
  app/api/v1/orgs/[id]/members/[userId]/route.ts
  app/api/v1/orgs/[id]/members/route.ts
  app/api/v1/orgs/[id]/route.ts
  app/api/v1/orgs/route.ts
  app/api/v1/users/[id]/route.ts
  lib/api/endpoints.ts
  lib/auth/sessions.ts
  lib/privacy/erase-org.ts
  lib/privacy/export-org.ts
  lib/privacy/org-sources.ts
  lib/tenancy/lifecycle.ts
  lib/tenancy/roles.ts
  lib/utils/invitation-token.ts
  lib/validations/tenancy.ts
  scripts/smoke/tenancy.ts
  tests/unit/lib/api/endpoints.test.ts
  tests/unit/lib/tenancy/roles.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(tenancy): every lifecycle rule on a populated org, the org manifest guard shown to fire, and the routes through the real guards and policy
  lib/tenancy/resolver.ts
  lib/validations/tenancy.ts
  tests/unit/app/api/v1/admin/orgs/[id]/export/route.test.ts
  tests/unit/app/api/v1/admin/orgs/[id]/route.test.ts
  tests/unit/app/api/v1/admin/orgs/route.test.ts
  tests/unit/app/api/v1/orgs/[id]/members/[userId]/route.test.ts
  tests/unit/app/api/v1/orgs/[id]/members/route.test.ts
  tests/unit/app/api/v1/orgs/[id]/route.test.ts
  tests/unit/app/api/v1/orgs/route.test.ts
  tests/unit/app/api/v1/users/[id]/route.test.ts
  tests/unit/lib/auth/sessions.test.ts
  tests/unit/lib/privacy/erase-org.test.ts
  tests/unit/lib/privacy/export-org.test.ts
  tests/unit/lib/privacy/org-sources.test.ts
  tests/unit/lib/tenancy/lifecycle.test.ts
  tests/unit/lib/validations/tenancy.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the org API reference, the org export and erasure guides, the lifecycle section and ruling a in the identity guide, and the CHANGELOG
  .context/api/auth-endpoints.md
  .context/api/endpoints.md
  .context/api/org-endpoints.md
  .context/architecture/multi-tenancy-design.md
  .context/auth/authorization.md
  .context/auth/security.md
  .context/privacy/data-erasure.md
  .context/privacy/data-export.md
  .context/privacy/org-erasure.md
  .context/privacy/org-export.md
  .context/tenancy/context.md
  .context/tenancy/identity.md
  CHANGELOG.md
  CLAUDE.md
  lib/auth/authorization.ts
  lib/auth/guards.ts
  tests/unit/lib/auth/authorization-org.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(privacy): the cookie-cache window after an org erasure, seen on the live probe
  .context/privacy/org-erasure.md
Due: prettier --write

test(tenancy): widen the fixture's role parameter so an ADMIN fixture type-checks
  tests/unit/lib/tenancy/lifecycle.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(users): the integration PATCH double runs the transaction the role sync now needs
  tests/integration/api/v1/users/[id]/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(orgs): the export route's rethrow branch — any failure but a missing org is a 500
  tests/unit/app/api/v1/admin/orgs/[id]/export/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(tenancy): only an OWNER confers or revokes OWNER, and the policy's org arm is a session grant
  .context/api/org-endpoints.md
  .context/auth/authorization.md
  .context/tenancy/identity.md
  CHANGELOG.md
  app/api/v1/orgs/[id]/members/[userId]/route.ts
  app/api/v1/orgs/[id]/members/route.ts
  lib/auth/authorization.ts
  lib/tenancy/lifecycle.ts
  lib/tenancy/roles.ts
  scripts/smoke/tenancy.ts
  tests/unit/app/api/v1/orgs/[id]/members/[userId]/route.test.ts
  tests/unit/app/api/v1/orgs/[id]/members/route.test.ts
  tests/unit/lib/auth/authorization-org.test.ts
  tests/unit/lib/tenancy/lifecycle.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(orgs): the roster GET refuses an API key as the doc already said, and the list names the active org the way the entry rule does
  .context/api/org-endpoints.md
  app/api/v1/orgs/[id]/members/route.ts
  app/api/v1/orgs/route.ts
  tests/unit/app/api/v1/orgs/[id]/members/route.test.ts
  tests/unit/app/api/v1/orgs/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(orgs): the list answers an API key with the org the guard entered for it; LifecycleDb says what a transaction client cannot satisfy
  app/api/v1/orgs/route.ts
  lib/tenancy/lifecycle.ts
  tests/unit/app/api/v1/orgs/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

feat(tenancy): every credential binds an org at mint and acts only there
  app/api/v1/admin/orchestration/agents/[id]/embed-tokens/route.ts
  app/api/v1/admin/orchestration/agents/[id]/invite-tokens/route.ts
  app/api/v1/admin/orchestration/mcp/keys/[id]/rotate/route.ts
  app/api/v1/admin/orchestration/mcp/keys/route.ts
  app/api/v1/chat/agents/[slug]/validate-token/route.ts
  app/api/v1/chat/stream/route.ts
  app/api/v1/embed/chat/stream/route.ts
  app/api/v1/embed/speech-to-text/route.ts
  app/api/v1/embed/widget-config/route.ts
  app/api/v1/mcp/route.ts
  app/api/v1/orgs/switch/route.ts
  app/api/v1/user/api-keys/route.ts
  lib/app/authorization.ts
  lib/auth/api-keys.ts
  lib/auth/guards.ts
  lib/embed/auth.ts
  lib/orchestration/invite-tokens.ts
  lib/orchestration/mcp/auth.ts
  lib/tenancy/context.ts
  lib/tenancy/entry.ts
  prisma/migrations/20260918120000_credential_org_backfill/migration.sql
  tests/unit/lib/tenancy/migration.test.ts
  types/mcp.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(tenancy): every mint binds the entered org, every resolver enters it, and the invite token compares — seen from inside the handlers
  scripts/smoke/tenancy.ts
  tests/integration/api/v1/chat/validate-token.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/embed-tokens/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/invite-tokens/invite-tokens.route.test.ts
  tests/unit/app/api/v1/admin/orchestration/mcp/keys/[id]/rotate/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/mcp/keys/route.test.ts
  tests/unit/app/api/v1/chat/stream/route.test.ts
  tests/unit/app/api/v1/embed/chat.stream.test.ts
  tests/unit/app/api/v1/embed/speech-to-text.test.ts
  tests/unit/app/api/v1/embed/widget-config.test.ts
  tests/unit/app/api/v1/mcp/route.test.ts
  tests/unit/app/api/v1/user/api-keys/api-keys.route.test.ts
  tests/unit/lib/auth/guards-tenancy.test.ts
  tests/unit/lib/embed/auth.test.ts
  tests/unit/lib/orchestration/invite-tokens.test.ts
  tests/unit/lib/orchestration/mcp/auth.test.ts
  tests/unit/lib/orchestration/mcp/protocol-handler.test.ts
  tests/unit/lib/tenancy/entry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(tenancy): the org-binding paragraphs on the four credential guides, the credentials section retires the interim gap, and the CHANGELOG
  .context/architecture/multi-tenancy-design.md
  .context/auth/authorization.md
  .context/orchestration/agent-visibility.md
  .context/orchestration/api-keys.md
  .context/orchestration/embed.md
  .context/orchestration/mcp.md
  .context/tenancy/context.md
  .context/tenancy/identity.md
  CHANGELOG.md
Due: prettier --write

test(db): the raw-SQL allowlist follows the invite-token increment to its module
  tests/unit/db-raw-sql-allowlist.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test(chat): validate-token's three pre-token branches — bad body, no agent, an agent that needs no token
  tests/integration/api/v1/chat/validate-token.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(tenancy): withAuth refuses an org-bound admin key too — the row the withAdminAuth floor refuses was admitted, unscoped, everywhere else
  .context/auth/authorization.md
  .context/orchestration/api-keys.md
  .context/tenancy/identity.md
  CHANGELOG.md
  lib/app/authorization.ts
  lib/auth/guards.ts
  lib/tenancy/entry.ts
  tests/unit/lib/auth/guards-tenancy.test.ts
  tests/unit/lib/tenancy/entry.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix(chat): a request acting in no org passes no invite gate — said, logged with its own reason, and tested
  .context/orchestration/agent-visibility.md
  lib/orchestration/invite-tokens.ts
  tests/unit/lib/orchestration/invite-tokens.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs(changelog): the no-org invite refusal at multi joins the Changed bullet; reflow
  CHANGELOG.md
Due: prettier --write

Spike: the RLS chokepoint pattern against Sunrise's transactions, raw SQL and pooler (§107 t-704)
  scripts/spikes/rls-chokepoint-spike.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Design doc: spike register answered with the measured findings (§107 t-704)
  .context/architecture/multi-tenancy-design.md
Due: prettier --write

Design doc: register item 9 — bypass GUC versus bypass role, open for 3.2
  .context/architecture/multi-tenancy-design.md
Due: prettier --write

Design doc: item 9 states the measured RawUnsafe count, not an absence
  .context/architecture/multi-tenancy-design.md
Due: prettier --write

Spike + register: the five code-review findings, each measured (§107 t-704)
  scripts/spikes/rls-chokepoint-spike.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Design doc: register carries the review-round measurements
  .context/architecture/multi-tenancy-design.md
Due: prettier --write

Spike + register: review round 2 — tx delegation, create-only stamping, a falsifiable enable check
  .context/architecture/multi-tenancy-design.md
  scripts/spikes/rls-chokepoint-spike.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Spike + register: review round 3 — DISABLE needs NO FORCE too, to-one nested update, cleanup survives a failed disconnect
  .context/architecture/multi-tenancy-design.md
  scripts/spikes/rls-chokepoint-spike.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Every tenant-owned row knows its org: orgId on the 38 remaining models (§107 t-705)
  prisma/migrations/20260919200000_tenant_owned_org_id/migration.sql
  prisma/schema/orchestration-agents.prisma
  prisma/schema/orchestration-conversations.prisma
  prisma/schema/orchestration-evaluation.prisma
  prisma/schema/orchestration-knowledge.prisma
  prisma/schema/orchestration-ops.prisma
  prisma/schema/orchestration-providers.prisma
  prisma/schema/orchestration-workflows.prisma
  prisma/schema/tenancy.prisma
Due: none

A model nobody classified fails the build (§107 t-705)
  lib/tenancy/classification.ts
  tests/unit/lib/tenancy/model-classification.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

An org's export carries every tenant-owned table (§107 t-705)
  lib/privacy/org-sources.ts
  tests/unit/lib/privacy/org-sources.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Docs + CHANGELOG for the tenant-owned orgId columns (§107 t-705)
  .context/architecture/multi-tenancy-design.md
  .context/tenancy/identity.md
  CHANGELOG.md
Due: prettier --write

The column's consequences: fixtures, the agent field registry, the chunk projection, the ownerless guard (§107 t-705)
  lib/orchestration/access/ownerless-surfaces.ts
  lib/orchestration/agents/agent-field-registry.ts
  lib/orchestration/knowledge/search.ts
  tests/integration/api/v1/admin/orchestration/agents.id.capabilities.test.ts
  tests/integration/api/v1/admin/orchestration/evaluations/datasets.id.test.ts
  tests/integration/api/v1/inbound/[channel]/[slug]/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/[id]/versions/[versionId]/restore/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/agents/versions/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/[id]/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/hooks/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/knowledge/patterns/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/ownership-boundary.test.ts
  tests/unit/app/api/v1/admin/orchestration/schedules/schedules.route.test.ts
  tests/unit/app/api/v1/admin/orchestration/triggers/route.test.ts
  tests/unit/app/api/v1/admin/orchestration/workflows/[id]/schedules/[scheduleId]/route.test.ts
  tests/unit/components/admin/orchestration/agent-form-attachment-toggles.test.tsx
  tests/unit/components/admin/orchestration/agent-form-effective-defaults.test.tsx
  tests/unit/components/admin/orchestration/agent-form-general.test.tsx
  tests/unit/components/admin/orchestration/knowledge/knowledge-view.test.tsx
  tests/unit/components/admin/orchestration/knowledge/manage-tab.test.tsx
  tests/unit/components/admin/orchestration/learn/pattern-detail-sections.test.tsx
  tests/unit/components/admin/orchestration/workflow-builder/workflow-builder.test.tsx
  tests/unit/lib/orchestration/agents/agent-field-registry.test.ts
  tests/unit/lib/orchestration/engine/executors/rag-retrieve.test.ts
  tests/unit/lib/orchestration/hooks/registry.test.ts
  tests/unit/lib/orchestration/mcp/resources/knowledge-search.test.ts
  tests/unit/lib/orchestration/utils/extract-related-patterns.test.ts
  tests/unit/lib/orchestration/webhooks/dispatcher.test.ts
  tests/unit/lib/privacy/org-sources.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Org-export guide: the manifest now covers every tenant-owned model (§107 t-705)
  .context/privacy/org-export.md
Due: prettier --write

Org export: hook header values and lease tokens are not the org's to receive (§107 t-705, security review)
  .context/privacy/org-export.md
  CHANGELOG.md
  lib/privacy/org-sources.ts
  tests/unit/lib/privacy/org-sources.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Org export: a NULL orgId is the install org's at single (§107 t-705, review round 1)
  .context/privacy/org-export.md
  CHANGELOG.md
  lib/privacy/org-sources.ts
  scripts/smoke/tenancy.ts
  tests/unit/lib/privacy/org-sources.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

An org's cost rows outlive its erasure; the NULL rule names its owner (§107 t-705, review round 2)
  .context/privacy/org-export.md
  .context/tenancy/identity.md
  CHANGELOG.md
  lib/privacy/org-sources.ts
  prisma/migrations/20260919200000_tenant_owned_org_id/migration.sql
  prisma/schema/orchestration-providers.prisma
  scripts/smoke/tenancy.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Org-export guide: two consequences stated (§107 t-705, review round 3)
  .context/privacy/org-export.md
Due: prettier --write

A query runs only inside the org the request entered, and a forgotten path fails loud instead of reading wide (§107 t-706)
  .context/architecture/multi-tenancy-design.md
  .context/tenancy/context.md
  CHANGELOG.md
  VERSIONING.md
  lib/db/client.ts
  lib/db/tenancy-extension.ts
  lib/env.ts
  lib/tenancy/classification.ts
  lib/tenancy/context.ts
  scripts/smoke/tenancy.ts
  tests/unit/lib/db/client.test.ts
  tests/unit/lib/db/tenancy-extension.test.ts
  tests/unit/lib/env.test.ts
  tests/unit/lib/tenancy/context.test.ts
  tests/unit/lib/tenancy/model-classification.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

The setters join the raw-SQL allowlist, and every doc that said multi throws at import stops saying so (§107 t-706)
  .context/architecture/multi-tenancy.md
  .context/database/models.md
  .context/database/schema.md
  .context/orchestration/meta/commercial-proposition.md
  .context/privacy/org-export.md
  CHANGELOG.md
  tests/unit/db-raw-sql-allowlist.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

A read that reaches a tenant-owned table through a relation is scoped like one on the table itself (§107 t-706, security-review follow-up)
  .context/tenancy/context.md
  CHANGELOG.md
  lib/db/tenancy-extension.ts
  tests/unit/lib/db/tenancy-extension.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

The stamp takes the form the row already uses, a relation read is scoped at any depth, and a reload re-wraps the retained base client (§107 t-706, code review round 1)
  .context/tenancy/context.md
  CHANGELOG.md
  lib/db/client.ts
  lib/db/tenancy-extension.ts
  lib/tenancy/classification.ts
  tests/unit/lib/db/client.test.ts
  tests/unit/lib/db/tenancy-extension.test.ts
  tests/unit/lib/tenancy/model-classification.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

Path conditions:
  eslint --fix --cache --cache-location .next/cache/eslint/: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
