Repository human-centric-engineering/sunrise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: add missing email and types domains to substrate index
  .context/substrate.md
Due: prettier --write

docs: streamline README and fix documentation drift
  CUSTOMIZATION.md
  README.md
  tests/README.md
Due: prettier --write

chore: add pending database migration
  prisma/migrations/20260206163910/migration.sql
Due: none

chore: remove .instructions/ from repo and clean up references
  .claude/commands/docs-audit.md
  .claude/skills/deployment-guide/SKILL.md
  .context/environment/reference.md
  .context/errors/logging.md
  .context/substrate.md
  .gitignore
  .instructions/BUILD-PROGRESS-TRACKER.md
  .instructions/REQUEST-CONTEXT-TRACING.md
  .instructions/SUNRISE-BUILD-PLAN.md
  eslint.config.mjs
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: add LICENSE and CONTRIBUTING for open source release
  CONTRIBUTING.md
  LICENSE
Due: prettier --write

chore: update package.json for open source release
  package.json
Due: prettier --write

docs: reorganize errors/logging/monitoring documentation
  .claude/commands/docs-audit.md
  .context/errors/error-boundaries.md
  .context/errors/error-classes.md
  .context/errors/logging.md
  .context/errors/overview.md
  .context/errors/user-messages.md
  .context/logging/best-practices.md
  .context/logging/overview.md
  .context/logging/request-context.md
  .context/monitoring/overview.md
  .context/substrate.md
  CLAUDE.md
  lib/api/errors.ts
  lib/errors/messages.ts
  tests/unit/lib/api/errors.test.ts
  tests/unit/lib/errors/messages.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: add open-source community files and templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: prettier --write

Updates to oss files, remove dead email addresses
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: prettier --write

fix: add catch-all pattern to paths-filter so negations work correctly
  .github/workflows/ci.yml
Due: prettier --write

chore: update oss docs to remove dead email addresses
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: prettier --write

fix: add root-level markdown exclusion to paths-filter
  .github/workflows/ci.yml
Due: prettier --write

fix: replace paths-filter with bash script for change detection
  .github/workflows/ci.yml
Due: prettier --write

chore: upgrade dependencies and fix Prisma 7.3 WASM loading
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: implement nonce-based CSP to unblock Next.js inline scripts on Vercel
  app/layout.tsx
  lib/security/headers.ts
  proxy.ts
  tests/unit/lib/security/headers.test.ts
  tests/unit/lib/security/proxy.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: update CSP documentation to reflect nonce-based script allowlisting
  .context/api/headers.md
  .context/security/overview.md
Due: prettier --write

fix: pass CSP nonce to analytics inline scripts
  app/layout.tsx
  components/analytics/analytics-scripts.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

test: add nonce prop coverage for AnalyticsScripts
  tests/unit/components/analytics/analytics-scripts.test.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: update analytics docs to reflect nonce prop requirement on AnalyticsScripts
  .context/analytics/overview.md
  .context/analytics/troubleshooting.md
Due: prettier --write

fix: replace fetch with auth.api calls in accept-invite to bypass CSRF check
  app/api/auth/accept-invite/route.ts
  tests/integration/api/auth/accept-invite.test.ts
  tests/unit/app/api/auth/accept-invite/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: apply OAuth invitation role in before hook for immediate session access
  lib/auth/config.ts
  tests/unit/lib/auth/config-database-hook.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: harden CSP with missing directives and production/dev parity
  .context/security/overview.md
  lib/security/headers.ts
  tests/unit/lib/security/headers.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: expand pre-pr doc check to catch all changed file types
  .claude/commands/pre-pr.md
Due: prettier --write

fix: close OAuth invitation race condition by deleting token in before hook
  .context/auth/overview.md
  .context/auth/user-creation.md
  lib/auth/config.ts
  tests/unit/lib/auth/config-database-hook.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: await sendEmail in contact route to prevent Vercel serverless truncation
  app/api/v1/contact/route.ts
  tests/unit/app/api/v1/contact/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

docs: document non-blocking async side effect pattern in API routes
  .context/api/endpoints.md
  .context/api/utility-endpoints.md
Due: prettier --write

fix: update dashboard greeting from "Welcome back" to "Hello"
  app/(protected)/dashboard/page.tsx
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: update stale comment and strengthen regression test reliability
  app/api/v1/contact/route.ts
  tests/unit/app/api/v1/contact/route.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: use process.uptime() for accurate server uptime reporting
  app/api/health/route.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: resolve flaky pagination test with deterministic sort and timestamps
  tests/unit/lib/utils/get-all-pending-invitations.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

fix: prevent duplicate welcome email on voluntary email verification
  .context/auth/user-creation.md
  lib/auth/config.ts
  tests/unit/lib/auth/config-afterEmailVerification.test.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: add API-first bullet to README and tighten coverage exclude pattern
  README.md
  vitest.config.ts
Due: eslint --fix --cache --cache-location .next/cache/eslint/, prettier --write

chore: upgrade Prisma to 7.4.0 and add dependency overrides
  package-lock.json
  package.json
Due: prettier --write

docs: fix setup flow in readme
  README.md
Due: prettier --write

feat: agent orchestration prerequisites
  .claude/docs/agent-orchestration.md
  .claude/skills/agent-architect/SKILL.md
  .claude/skills/agent-architect/references/context-and-costs.md
  .claude/skills/agent-architect/references/emerging-concepts.md
  .claude/skills/agent-architect/references/patterns-1-to-10.md
  .claude/skills/agent-architect/references/patterns-11-to-21.md
  .claude/skills/agent-architect/references/sunrise-implementation.md
  .context/database/migrations.md
  .gitignore
  CLAUDE.md
  lib/orchestration/seed/chunks.json
  package-lock.json
  prisma/migrations/20260409153925_enable_pgvector/migration.sql
Due: prettier --write

feat: add pgvector support for embeddings
  docker-compose.prod.yml
  docker-compose.yml
  prisma/migrations/20260409153925_enable_pgvector/migration.sql
  prisma/schema.prisma
Due: prettier --write

Path conditions:
  eslint --fix --cache --cache-location .next/cache/eslint/: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
